{{#> layouts/base
  title="Anita Walczak | 404"
  relative_path=".."
}}
{{/layouts/base}}

{{#*inline "stylesheets-block"}}
  {{> includes/stylesheets }}
{{/inline}}

{{#*inline "content-block"}}

  <section class="bg-other-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-color: #000;">
    <div>
      <h1 class="tit2 t-center">
        Błąd 404
      </h2>

      <h2 class="tit6 t-center">
        Nie ma takiej strony
      </h2>
    </div>
  </section>

{{/inline}}
