.Srodtytol_16,.TXT_Bold_14,.Link_O_Mnie_10
{
	font-family: open-sans-n6, sans-serif;
}

.Babel_Bold
{
	font-family: open-sans-n7, sans-serif;
}

.TXT_14,.Babel_Regular
{
	font-family: open-sans-n3, sans-serif;
}

#u785-4
{
	font-family: questrial-n4, sans-serif;
}

#u787-4
{
	font-family: questrial-n4, sans-serif;
}

#u789-4
{
	font-family: questrial-n4, sans-serif;
}

#u791-4
{
	font-family: questrial-n4, sans-serif;
}

#u793-4
{
	font-family: questrial-n4, sans-serif;
}

#u795-4
{
	font-family: questrial-n4, sans-serif;
}

#u797-4
{
	font-family: questrial-n4, sans-serif;
}


#u885-12
{
	font-family: open-sans-n6, sans-serif;
}

#u1265-5,#u879-8
{
	font-family: open-sans-n6, sans-serif;
}

#u921-2,#u921-11,#u1946-5,#u1953-5,#u1959-5,#u1886-10
{
	font-family: open-sans-n3, sans-serif;
}

#u2012-5,#u2243-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2273-5
{
	font-family: open-sans-n6, sans-serif;
}

