.Srodtytol_16,.TXT_Bold_14,.Link_O_Mnie_10
{
	font-family: open-sans-n6, sans-serif;
}

.Babel_Bold
{
	font-family: open-sans-n7, sans-serif;
}

.TXT_14,.Babel_Regular
{
	font-family: open-sans-n3, sans-serif;
}

#u785-4
{
	font-family: questrial-n4, sans-serif;
}

#u787-4
{
	font-family: questrial-n4, sans-serif;
}

#u789-4
{
	font-family: questrial-n4, sans-serif;
}

#u791-4
{
	font-family: questrial-n4, sans-serif;
}

#u793-4
{
	font-family: questrial-n4, sans-serif;
}

#u795-4
{
	font-family: questrial-n4, sans-serif;
}

#u797-4
{
	font-family: questrial-n4, sans-serif;
}


#u1357-38,#u1357-40
{
	font-family: open-sans-n6, sans-serif;
}

#u1357-4,#u1357-5,#u1357-9,#u1357-10,#u1357-17,#u1357-18,#u1357-22,#u1357-23,#u1357-27,#u1357-28,#u1357-35,#u1357-36,#u1357-43,#u1357-44,#u1357-48
{
	font-family: open-sans-n3, sans-serif;
}

#u1357-3,#u1357-8,#u1357-16,#u1357-21,#u1357-26,#u1357-34,#u1357-45
{
	font-family: open-sans-n4, sans-serif;
}

