.Srodtytol_16,.TXT_Bold_14,.Link_O_Mnie_10
{
	font-family: open-sans-n6, sans-serif;
}

.Babel_Bold
{
	font-family: open-sans-n7, sans-serif;
}

.TXT_14,.Babel_Regular
{
	font-family: open-sans-n3, sans-serif;
}

#u785-4
{
	font-family: questrial-n4, sans-serif;
}

#u787-4
{
	font-family: questrial-n4, sans-serif;
}

#u789-4
{
	font-family: questrial-n4, sans-serif;
}

#u791-4
{
	font-family: questrial-n4, sans-serif;
}

#u793-4
{
	font-family: questrial-n4, sans-serif;
}

#u795-4
{
	font-family: questrial-n4, sans-serif;
}

#u797-4
{
	font-family: questrial-n4, sans-serif;
}


#u953-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1377-4,#u1229,#u941-4
{
	font-family: open-sans-n4, sans-serif;
}

#u944-4
{
	font-family: open-sans-n4, sans-serif;
}

#u937-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu939_input,#widgetu939_prompt,#widgetu943_input,#widgetu943_prompt,#widgetu935_input,#widgetu935_prompt
{
	font-family: open-sans, sans-serif;
}

#u949-6
{
	font-family: open-sans-n4, sans-serif;
}

