.version.kontakt /* version checker */
{
	color: #00000A;
	background-color: #4A91E1;
}

#page
{
	z-index: 1;
	width: 409px;
	min-height: 480px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-left: 20px;
	padding-right: 531px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#u128
{
	z-index: 79;
	height: 9px;
	position: fixed;
	top: 0px;
}

#u128-bw
{
	z-index: 79;
}

#u636
{
	z-index: 2;
	width: 382px;
	position: relative;
}

#u1812
{
	z-index: 5;
	width: 282px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u632
{
	z-index: 6;
}

#u1818
{
	z-index: 3;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	left: 293px;
}

#u630
{
	z-index: 4;
}

#pu1827
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 41px;
}

#u1827
{
	z-index: 77;
	width: 21px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1370
{
	z-index: 78;
	display: block;
}

#u1377-4
{
	z-index: 17;
	width: 321px;
	min-height: 37px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	line-height: 57px;
	color: #FFFFFF;
	font-size: 41px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 46px;
}

#u1229-5
{
	z-index: 8;
	width: 409px;
	min-height: 37px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	line-height: 31px;
	font-size: 22px;
	margin-top: 25px;
	position: relative;
}

#u1229-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1229
{
	font-size: 34px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 48px;
}

#u953-4
{
	z-index: 13;
	width: 370px;
	min-height: 37px;
	background-color: transparent;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	line-height: 38px;
	color: #FFFFFF;
	font-size: 32px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 37px;
	position: relative;
}

#widgetu930
{
	z-index: 27;
	width: 0.01px;
	height: 247px;
	margin-top: 7px;
	position: relative;
}

#widgetu939
{
	z-index: 28;
	width: 360px;
	height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#widgetu939.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 360px;
	height: 26px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u941-4
{
	z-index: 29;
	width: 348px;
	min-height: 14px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#muse_css_mq,#widgetu939.non-empty-st #u941-4
{
	background-color: #FFFFFF;
}

#widgetu939:hover #u941-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu939.focus-st #u941-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu939.non-empty-st #u941-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu939:hover #u941-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu939.focus-st #u941-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu943
{
	z-index: 33;
	width: 360px;
	height: 26px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#widgetu943.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 360px;
	height: 26px;
	min-height: 0px;
	margin: 26px -10000px 0px 0px;
}

#u944-4
{
	z-index: 34;
	width: 348px;
	min-height: 14px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu943.non-empty-st #u944-4
{
	background-color: #FFFFFF;
}

#widgetu943:hover #u944-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu943.focus-st #u944-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu939.fld-err-st #u941-4,#widgetu943.fld-err-st #u944-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu943.non-empty-st #u944-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu943:hover #u944-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu943.focus-st #u944-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu939_input,#widgetu939_prompt,#widgetu943_input,#widgetu943_prompt
{
	width: 348px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: open-sans, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#u931-4
{
	z-index: 38;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 136px;
}

#widgetu930.frm-sub-st #u931-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u933-4
{
	z-index: 42;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	color: #FF0000;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 136px;
}

#widgetu930.frm-subm-err-st #u933-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u932-4
{
	z-index: 46;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	color: #00FF00;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 136px;
}

#widgetu930.frm-sub-st #u931-4,#widgetu930.frm-subm-err-st #u933-4,#widgetu930.frm-subm-ok-st #u932-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu930.frm-subm-ok-st #u932-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u934-17
{
	z-index: 50;
	min-height: 25px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	background: transparent url("../images/u934-17.png") no-repeat 0px 0px;
}

#u934-17:hover
{
	background: transparent url("../images/u934-17-r.png") no-repeat 0px 0px;
}

#u934-17:active
{
	background: transparent url("../images/u934-17-m.png") no-repeat 0px 0px;
}

#widgetu930.frm-sub-st #u934-17
{
	background: transparent url("../images/u934-17-fs.png") no-repeat 0px 0px;
}

.hidpi #u934-17
{
	background-image: url("../images/u934-17_2x.png");
	background-size: 130px 25px;
}

.hidpi #u934-17:hover
{
	background-image: url("../images/u934-17-r_2x.png");
	background-size: 130px 25px;
}

.hidpi #u934-17:active
{
	background-image: url("../images/u934-17-m_2x.png");
	background-size: 130px 25px;
}

.hidpi #widgetu930.frm-sub-st #u934-17
{
	background-image: url("../images/u934-17-fs_2x.png");
	background-size: 130px 25px;
}

#widgetu935
{
	z-index: 67;
	width: 360px;
	height: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
}

#widgetu935.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 360px;
	height: 170px;
	min-height: 0px;
	margin: 52px -10000px 0px 0px;
}

#u936-4
{
	z-index: 68;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	color: #6B6B6B;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#widgetu935.fld-err-st #u936-4
{
	border-width: 0px;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 30px -10000px 0px 0px;
}

#widgetu935.fld-err-st #u936-4 p,#widgetu935.fld-err-st #u936-4 span
{
	color: #D7244C;
}

#u937-4
{
	z-index: 72;
	width: 348px;
	min-height: 158px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	line-height: 14px;
	color: #C4C4C4;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#widgetu935.non-empty-st #u937-4
{
	background-color: #FFFFFF;
}

#widgetu935:hover #u937-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 158px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu935.focus-st #u937-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 158px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu935.fld-err-st #u937-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 158px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu935.non-empty-st #u937-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu935:hover #u937-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu935.focus-st #u937-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu939.fld-err-st #u941-4 *,#widgetu943.fld-err-st #u944-4 *,#widgetu935.fld-err-st #u937-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu935_input,#widgetu935_prompt
{
	width: 348px;
	min-height: 158px;
	color: #C4C4C4;
	font-family: open-sans, sans-serif;
	font-style: italic;
	font-weight: 400;
	padding: 6px;
}

#widgetu935.focus-st #widgetu935_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu939:hover #widgetu939_input,#widgetu939.focus-st #widgetu939_input,#widgetu939.fld-err-st #widgetu939_input,#widgetu939:hover #widgetu939_prompt,#widgetu939.focus-st #widgetu939_prompt,#widgetu939.fld-err-st #widgetu939_prompt,#widgetu943:hover #widgetu943_input,#widgetu943.focus-st #widgetu943_input,#widgetu943.fld-err-st #widgetu943_input,#widgetu943:hover #widgetu943_prompt,#widgetu943.focus-st #widgetu943_prompt,#widgetu943.fld-err-st #widgetu943_prompt,#widgetu935:hover #widgetu935_input,#widgetu935.focus-st #widgetu935_input,#widgetu935.fld-err-st #widgetu935_input,#widgetu935:hover #widgetu935_prompt,#widgetu935.fld-err-st #widgetu935_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu939.non-empty-st #widgetu939_prompt,#widgetu943.non-empty-st #widgetu943_prompt,#widgetu935.non-empty-st #widgetu935_prompt
{
	visibility: hidden;
}

#u780
{
	z-index: 80;
	height: 36px;
	position: fixed;
	bottom: 0px;
}

#u780-bw
{
	z-index: 80;
}

#u783
{
	z-index: 93;
	width: 1000px;
	height: 36px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#buttonu784
{
	z-index: 94;
	width: 72px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#buttonu784:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#buttonu784.ButtonSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u785-4
{
	z-index: 95;
	width: 54px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu784:hover #u785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu786
{
	z-index: 99;
	width: 74px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 74px;
}

#buttonu786:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u787-4
{
	z-index: 100;
	width: 54px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#buttonu784.ButtonSelected #u785-4,#buttonu786:hover #u787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu786.ButtonSelected #u787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu788
{
	z-index: 104;
	width: 116px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 150px;
}

#buttonu788:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#buttonu788.ButtonSelected
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u789-4
{
	z-index: 105;
	width: 100px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#buttonu788:hover #u789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100px;
	margin: 11px -10000px 0px 0px;
}

#buttonu788.ButtonSelected #u789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100px;
	margin: 11px -10000px 0px 0px;
}

#buttonu790
{
	z-index: 109;
	width: 74px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 495px;
}

#buttonu786.ButtonSelected,#buttonu790:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#buttonu790.ButtonSelected
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u791-4
{
	z-index: 110;
	width: 57px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu790:hover #u791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 11px -10000px 0px 0px;
}

#buttonu790.ButtonSelected #u791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 11px -10000px 0px 0px;
}

#buttonu792
{
	z-index: 114;
	width: 127px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 267px;
}

#buttonu792:hover
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#buttonu792.ButtonSelected
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u793-4
{
	z-index: 115;
	width: 111px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#buttonu792:hover #u793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 111px;
	margin: 11px -10000px 0px 0px;
}

#buttonu792.ButtonSelected #u793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 111px;
	margin: 11px -10000px 0px 0px;
}

#buttonu794
{
	z-index: 119;
	width: 97px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 396px;
}

#buttonu794:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#buttonu794.ButtonSelected
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u795-4
{
	z-index: 120;
	width: 78px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu794:hover #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 11px -10000px 0px 0px;
}

#buttonu794.ButtonSelected #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 11px -10000px 0px 0px;
}

#buttonu796
{
	z-index: 201;
	width: 151px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 571px;
}

#buttonu796:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#buttonu796.ButtonSelected
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u797-4
{
	z-index: 202;
	width: 130px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#buttonu796:hover #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 130px;
	margin: 11px -10000px 0px 0px;
}

#buttonu796.ButtonSelected #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 130px;
	margin: 11px -10000px 0px 0px;
}

#buttonu797
{
	z-index: 202;
	width: 161px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 724px;
}

#buttonu797:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#buttonu797.ButtonSelected
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u798-4
{
	z-index: 202;
	width: 140px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#buttonu797:hover #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 140px;
	margin: 11px -10000px 0px 0px;
}

#buttonu797.ButtonSelected #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 140px;
	margin: 11px -10000px 0px 0px;
}

#buttonu798
{
	z-index: 202;
	width: 141px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 887px;
}

#buttonu798:hover
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#buttonu798.ButtonSelected
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u799-4
{
	z-index: 202;
	width: 120px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
}

#buttonu798:hover #u799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 120px;
	margin: 11px -10000px 0px 0px;
}

#buttonu798.ButtonSelected #u799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 120px;
	margin: 11px -10000px 0px 0px;
}

#u782-6
{
	z-index: 87;
	width: 95px;
	min-height: 36px;
	position: fixed;
	bottom: 0px;
	left: 1040px;
}

#u781-6
{
	z-index: 81;
	width: 290px;
	min-height: 36px;
	position: fixed;
	bottom: 0px;
	right: 16px;
}

#pu952
{
	width: 0.01px;
	margin-top: 65px;
}

#u952
{
	z-index: 7;
	width: 360px;
	height: 317px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
}

#u949-6
{
	z-index: 21;
	width: 291px;
	min-height: 38px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 35px;
    line-height: normal;
    text-align: center;
    font-size: small;
}

#u950
{
	z-index: 76;
	width: 342px;
	min-height: 257px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 9px;
}

.html
{
	background: #FFFFFF url("../images/anita_walczak-kontakt.jpg") no-repeat center top fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

