{{#> layouts/base
  title="Anita Walczak | Masterclass in Periodontal Disease"
  relative_path=".."
  description="Jest to szkolenie szczególnie przydatne dla dentystów oraz higienistek, którego celem jest zrozumienie etiologii, progresji i leczenia chorób przyzębia. 2-dniowy kurs, który zawiera elementy leczenia periodontitis oraz periimplantitis. Podczas szkolenia obszerna część warsztatowa na fantomach oraz pacjentach."
}}
{{/layouts/base}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak | Masterclass in Periodontal Disease"
    description="Jest to szkolenie szczególnie przydatne dla dentystów oraz higienistek, którego celem jest zrozumienie etiologii, progresji i leczenia chorób przyzębia. 2-dniowy kurs, który zawiera elementy leczenia periodontitis oraz periimplantitis. Podczas szkolenia obszerna część warsztatowa na fantomach oraz pacjentach."
    url="http://anitawalczak.pl/szkolenia/masterclass-in-periodontal-disease"
    type="website"
    image="http://anitawalczak.pl/images/trainings/masterclass_in_periodontal_disease/header.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl/szkolenia/masterclass-in-periodontal-disease">
{{/inline}}

{{#*inline "content-block"}}
  <section class="bg-other-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-color: #000;">
    <div class="sizefull flex-col-c-m">
      <div class="caption2-slide1 tit2 t-center">
        Szkolenie
      </div>
      <div class="caption1-slide1 txt30 t-center m-b-15">
        Masterclass in Periodontal Disease
      </div>
    </div>
  </section>

  {{> includes/breadcrumb
    main-url="../index.html#szkolenia"
    main-name="Szkolenia"
    crumb-name="Masterclass in Periodontal Disease"
  }}

  <div class="container">
    <div class="row ">
      <div class="col-md-8 col-lg-9">
        <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
          <!-- Block4 -->
          <div class="blo4 p-b-63">
            <!-- - -->
            <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
              <span>
                <img src="../images/trainings/masterclass_in_periodontal_disease/header.jpg" alt="IMG-BLOG">
              </span>
            </div>

            <!-- - -->
            <div class="text-blo4 p-t-33">
              <h4 class="p-b-16">
                <span class="tit7">Masterclass in Periodontal Disease</span>
              </h4>
              <p class="m-b-30">
                Jest to szkolenie szczególnie przydatne dla dentystów oraz higienistek stomatologicznych, którego celem jest zrozumienie etiologii, progresji i leczenia chorób przyzębia.<br/>
                Jest to 2-dniowy kurs, który będzie zawierał elementy leczenia periodontitis oraz periimplantitis.<br/><br/>
                Podczas szkolenia obszerna część warsztatowa na fantomach oraz pacjentach m.in.praca ultradźwiękami, narzędziami ręcznymi.
              </p>

              <p>
                Program:
                <ul class="m-b-70 p-l-20">
                  <li class="txt10">- Zrozumienia etiologii, progresji i leczenia chorób przyzębia</li>
                  <li class="txt10">- Przeprowadzanie badania periodontologicznego</li>
                  <li class="txt10">- Higieny jamy ustnej i jej skuteczność w niechirurgicznej fazie leczenia przyzębia</li>
                  <li class="txt10">- Przygotowanie planów leczenia oraz ścieżki wizyt profilaktycznych</li>
                  <li class="txt10">- Cele niechirurgicznej terapii przyzębia</li>
                  <li class="txt10">- Etapy regeneracji przyzębia</li>
                  <li class="txt10">- Współpraca z periodontologiem- interdyscyplinarne podejście do swojej codziennej praktyki</li>
                  <li class="txt10">- Niechirurgiczne leczenie przyzębia</li>
                  <li class="txt10">- Zastosowanie narzędzi ręcznych Gracey oraz Universal</li>
                  <li class="txt10">- Ostrzenie narzędzi ręcznych</li>
                  <li class="txt10">- Technik polerowania i piaskowania</li>
                  <li class="txt10">- Oczyszczanie implantów i niechirurgiczne leczenie periimplantitis</li>
                </ul>
              </p>

              <h6>Prowadzący:</h6>
              <b>Hig. stom. Deepak Simkhada</b><br/>
              <b>Co-trainer Hig. stom. Anita Walczak</b>
              {{> includes/trainers/deepak_simkhada
              }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
          <div class="categories">
            <h4 class="txt33 bo5-b p-b-35 p-t-58">
              Daty szkolenia
            </h4>

            <ul>
              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  2-3 września 2018
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Cena: 1799zł
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Tłumaczenie konsekutywne
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Miejsce: Warszawa
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Więcej informacji oraz zapisy:<br/>
                  <a class="txt27" href="mailto:szkoleniahigiena@gmail.com">szkoleniahigiena@gmail.com</a><br/>
                  <a class="txt27" href="tel:783-821-842">783-821-842</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{{/inline}}

{{#*inline "scripts-block"}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@id": "./",
      "@type": "Course",
      "name": "Masterclass in Periodontal Disease",
      "url": "http://anitawalczak.pl/szkolenia/masterclass-in-periodontal-disease",
      "description": "Jest to szkolenie szczególnie przydatne dla dentystów oraz higienistek stomatologicznych, którego celem jest zrozumienie etiologii, progresji i leczenia chorób przyzębia.\r\nJest to 2-dniowy kurs, który będzie zawierał elementy leczenia periodontitis oraz periimplantitis.\r\n\r\nPodczas szkolenia obszerna część warsztatowa na fantomach oraz pacjentach m.in.praca ultradźwiękami, narzędziami ręcznymi.",
      "hasCourseInstance": {
        "@type": "CourseInstance",
        "courseMode": "full-time",
        "name": "Masterclass in Periodontal Disease",
        "startDate": "2 Sep 2018",
        "endDate": "3 Sep 2018",
        "location": "Warszawa",
        "offers": {
          "@type": "Offer",
          "price": "1799",
          "priceCurrency": "PLN"
        }
      }
    }
  </script>
{{/inline}}
