{{#> layouts/base
  title="Anita Walczak | Szkolenie indywidualne"
  relative_path=".."
  description="Najbardziej intensywna i efektywna forma nauki dla osób, które w krótkim czasie chcą polepszyć swój warsztat pracy. Uczestnik sam wskazuje obszar nad którym chce pracować, a program szkolenia tworzony jest indywidualnie dla niego. Istnieje możliwość udziału z własnymi pacjentami lub pacjentami trenera."
}}
{{/layouts/base}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak | Szkolenie indywidualne"
    description="Najbardziej intensywna i efektywna forma nauki dla osób, które w krótkim czasie chcą polepszyć swój warsztat pracy. Uczestnik sam wskazuje obszar nad którym chce pracować, a program szkolenia tworzony jest indywidualnie dla niego. Istnieje możliwość udziału z własnymi pacjentami lub pacjentami trenera."
    url="http://anitawalczak.pl/szkolenia/szkolenie-indywidualne"
    type="website"
    image="http://anitawalczak.pl/images/trainings/szkolenie_indywidualne/header.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl/szkolenia/szkolenie-indywidualne">
{{/inline}}

{{#*inline "content-block"}}
  <section class="bg-other-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-color: #000;">
    <div class="sizefull flex-col-c-m">
      <div class="caption2-slide1 tit2 t-center">
        Szkolenie
      </div>
      <div class="caption1-slide1 txt30 t-center m-b-15">
        Szkolenie indywidualne
      </div>
    </div>
  </section>

  {{> includes/breadcrumb
    main-url="../index.html#szkolenia"
    main-name="Szkolenia"
    crumb-name="Szkolenie indywidualne"
  }}

  <div class="container">
    <div class="row ">
      <div class="col-md-8 col-lg-9">
        <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
          <!-- Block4 -->
          <div class="blo4 p-b-63">
            <!-- - -->
            <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
              <span>
                <img src="../images/trainings/szkolenie_indywidualne/header.jpg" alt="IMG-BLOG">
              </span>
            </div>

            <!-- - -->
            <div class="text-blo4 p-t-33">
              <h4 class="p-b-16">
                <span class="tit7">Szkolenie indywidualne</span>
              </h4>

              <p class="m-b-30">
                To najbardziej intensywna i efektywna forma nauki dla osób, które w krótkim czasie chcą polepszyć swój warsztat pracy.<br/>Uczestnik sam wskazuje obszar nad, którym chce pracować, a program szkolenia tworzony jest indywidualnie dla niego. Istnieje możliwość udziału z własnymi pacjentami lub pacjentami trenera.Termin szkolenia jest ustalany indywidualnie.<br/>
                W celu uzyskania szczegółowych informacji proszę o kontakt mailowy.
              </p>

                <h6>Prowadzący:</h6>
                <b>Hig. stom. Anita Walczak</b>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
          <div class="categories">
            <h4 class="txt33 bo5-b p-b-35 p-t-58">
              Szczegóły
            </h4>

            <ul>
              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Więcej informacji oraz zapisy:<br/>
                  <a class="txt27" href="mailto:szkoleniahigiena@gmail.com">szkoleniahigiena@gmail.com</a><br/>
                  <a class="txt27" href="tel:783-821-842">783-821-842</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/inline}}

{{#*inline "scripts-block"}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@id": "./",
      "@type": "Course",
      "name": "Szkolenie indywidualne",
      "url": "http://anitawalczak.pl/szkolenia/szkolenie-indywidualne",
      "description": "To najbardziej intensywna i efektywna forma nauki dla osób, które w krótkim czasie chcą polepszyć swój warsztat pracy.\r\nUczestnik sam wskazuje obszar nad, którym chce pracować, a program szkolenia tworzony jest indywidualnie dla niego. Istnieje możliwość udziału z własnymi pacjentami lub pacjentami trenera.Termin szkolenia jest ustalany indywidualnie."
    }
  </script>
{{/inline}}
