{{#> layouts/base
  title="Anita Walczak | Szkolenia zamknięte dla kliniki"
  relative_path=".."
  description="Szkolenie skierowane jest dla całego zespołu higienistek, odbywa się w danej klinice, by jak najbardziej odtworzyć warunki codziennej pracy. Po poznaniu dotychczasowego systemu pracy, problemów, potrzeb oraz oczekiwań higienistek jak również właściciela przygotowuję sugerowany program szkolenia."
}}
{{/layouts/base}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak | Szkolenia zamknięte dla kliniki"
    description="Szkolenie skierowane jest dla całego zespołu higienistek, odbywa się w danej klinice, by jak najbardziej odtworzyć warunki codziennej pracy. Po poznaniu dotychczasowego systemu pracy, problemów, potrzeb oraz oczekiwań higienistek jak również właściciela przygotowuję sugerowany program szkolenia."
    url="http://anitawalczak.pl/szkolenia/szkolenia-zamkni-te-dla-kliniki"
    type="website"
    image="http://anitawalczak.pl/images/trainings/szkolenia_zamkni_te_dla_kliniki/header.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl/szkolenia/szkolenia-zamkni-te-dla-kliniki">
{{/inline}}

{{#*inline "content-block"}}
  <section class="bg-other-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-color: #000;">
    <div class="sizefull flex-col-c-m">
      <div class="caption2-slide1 tit2 t-center">
        Szkolenie
      </div>
      <div class="caption1-slide1 txt30 t-center m-b-15">
        Szkolenia zamknięte dla kliniki
      </div>
    </div>
  </section>


  {{> includes/breadcrumb
    main-url="../index.html#szkolenia"
    main-name="Szkolenia"
    crumb-name="Szkolenia zamknięte dla kliniki"
  }}

  <div class="container">
    <div class="row ">
      <div class="col-md-8 col-lg-9">
        <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
          <!-- Block4 -->
          <div class="blo4 p-b-63">
            <!-- - -->
            <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
              <span>
                <img src="../images/trainings/szkolenia_zamkni_te_dla_kliniki/header.jpg" alt="IMG-BLOG">
              </span>
            </div>

            <!-- - -->
            <div class="text-blo4 p-t-33">
              <h4 class="p-b-16">
                <span class="tit7">Szkolenia zamknięte dla kliniki</span>
              </h4>

              <p class="m-b-30">
                Szkolenie skierowane jest dla całego zespołu higienistek i odbywa się w danej klinice, by jak najbardziej odtworzyć warunki codziennej pracy. Po poznaniu dotychczasowego systemu pracy, problemów, potrzeb oraz oczekiwań higienistek jak również właściciela przygotowuję  sugerowany program szkolenia. Szkolenie ma na celu podniesienie kompetencji uczestników oraz rozwój profilaktyki w gabinecie.<br/>
                Wszystkie szczegóły są ustalane indywidualnie, w celu uzyskania szczegółowych informacji proszę o kontakt mailowy.
              </p>

                <h6>Prowadzący:</h6>
                <b>Hig. stom. Anita Walczak</b>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
          <div class="categories">
            <h4 class="txt33 bo5-b p-b-35 p-t-58">
              Szczegóły
            </h4>

            <ul>
              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Więcej informacji oraz zapisy:<br/>
                  <a class="txt27" href="mailto:szkoleniahigiena@gmail.com">szkoleniahigiena@gmail.com</a><br/>
                  <a class="txt27" href="tel:783-821-842">783-821-842</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/inline}}

{{#*inline "scripts-block"}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@id": "./",
      "@type": "Course",
      "name": "Szkolenia zamknięte dla kliniki",
      "url": "http://anitawalczak.pl/szkolenia/szkolenia-zamkni-te-dla-kliniki",
      "description": "Szkolenie skierowane jest dla całego zespołu higienistek, odbywa się w danej klinice, by jak najbardziej odtworzyć warunki codziennej pracy. Po poznaniu dotychczasowego systemu pracy, problemów, potrzeb oraz oczekiwań higienistek jak również właściciela przygotowuję sugerowany program szkolenia."
    }
  </script>
{{/inline}}
