{{#> layouts/base
  title="Anita Walczak | Vademecum Higienistki Stomatologicznej II"
  relative_path=".."
  description="Celem szkolenia jest przedstawienie gotowych, sprawdzonych rozwiązań organizacji wizyty higienizacyjnej. Dowiesz się w jaki sposób zmotywować pacjenta, aby wrócił do Ciebie na kolejną wizytę oraz wyleczył zęby. Podstawą będą praktyczne ćwiczenia, praca w grupach oraz case study."
}}
{{/layouts/base}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak | Vademecum Higienistki Stomatologicznej II"
    description="Celem szkolenia jest przedstawienie gotowych, sprawdzonych rozwiązań organizacji wizyty higienizacyjnej. Dowiesz się w jaki sposób zmotywować pacjenta, aby wrócił do Ciebie na kolejną wizytę oraz wyleczył zęby. Podstawą będą praktyczne ćwiczenia, praca w grupach oraz case study."
    url="http://anitawalczak.pl/szkolenia/vademecum-higienistki-stomatologicznej-cz-i-i"
    type="website"
    image="http://anitawalczak.pl/images/trainings/vademecum_higienistki_stomatologicznej_cz_i_i/header.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl/szkolenia/vademecum-higienistki-stomatologicznej-cz-i-i">
{{/inline}}

{{#*inline "content-block"}}
  <section class="bg-other-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-color: #000;">
    <div class="sizefull flex-col-c-m">
      <div class="caption2-slide1 tit2 t-center">
        Szkolenie
      </div>
      <div class="caption1-slide1 txt30 t-center m-b-15">
        Vademecum Higienistki Stomatologicznej - cz. II
      </div>
    </div>
  </section>

  {{> includes/breadcrumb
    main-url="../index.html#szkolenia"
    main-name="Szkolenia"
    crumb-name="Vademecum Higienistki Stomatologicznej - cz. II"
  }}

  <div class="container">
    <div class="row ">
      <div class="col-md-8 col-lg-9">
        <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
          <!-- Block4 -->
          <div class="blo4 p-b-63">
            <!-- - -->
            <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
              <span>
                <img src="../images/trainings/vademecum_higienistki_stomatologicznej_cz_i_i/header.jpg" alt="IMG-BLOG">
              </span>
            </div>

            <!-- - -->
            <div class="text-blo4 p-t-33">
              <h4 class="p-b-16">
                <span class="tit7">Vademecum Higienistki Stomatologicznej - cz. II</span>
              </h4>

              <div class="flex-w p-b-24">
                Jak zmotywować pacjenta oraz przeprowadzić skuteczny instruktaż higieny?
              </div>

              <p>
                Celem szkolenia jest przedstawienie gotowych, sprawdzonych rozwiązań organizacji wizyty higienizacyjnej. Skorzystaj z mojego doświadczenia.<br/>
                Dowiesz się w jaki sposób zmotywować pacjenta, aby wrócił do Ciebie na kolejną wizytę oraz wyleczył zęby.<br/>
                Podstawą będą praktyczne ćwiczenia, praca w grupach oraz case study. Wszytko o czym usłyszysz, sprawdzisz w praktyce. Omówimy techniki szczotkowania zębów, porównamy różne urządzenia, preparaty. Nauczysz się jak skutecznie komunikować się z pacjentem.
              </p>
              <br/>
              <p>
                Program:
                <ul class="m-b-30 p-l-20">
                  <li class="txt10">- Model idealnej wizyty higienizacyjnej</li>
                  <li class="txt10">- Budowanie motywacji pacjenta</li>
                  <li class="txt10">- Zasady instruktażu higieny jamy ustnej</li>
                  <li class="txt10">- Psychologiczne aspekty obsługi pacjenta</li>
                  <li class="txt10">- Profilaktyka domowa</li>
                  <li class="txt10">- Dobór odpowiednich artykułów do higieny jamy ustnej</li>
                  <li class="txt10">- Mechaniczna kontrola biofilmu</li>
                  <li class="txt10">- Chemiczna kontrola biofilmu</li>
                  <li class="txt10">- Trudny pacjent - jak sobie z nim radzić?</li>
                  <li class="txt10">- Organizacja gabinetu higieny</li>
                </ul>
              </p>
              <p class="m-b-30">
                Zajęcia odbywają się w formie warsztatów w najbardziej nowoczesnej sali szkoleniowej w Polsce.<br/>
                W cenie szkolenia przerwy kawowe oraz obiad.<br/>
                Każdy uczestnik otrzymuje certyfikat.<br/>
                Liczba miejsc ograniczona, decyduje kolejność rejestracji.<br/>
              </p>

              <h6>Prowadzący:</h6>
              <b>Hig. stom. Anita Walczak</b>
              <br/><br/>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
          <div class="categories">
            <h4 class="txt33 bo5-b p-b-35 p-t-58">
              Daty szkolenia
            </h4>

            <ul>
              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  1 lipca 2018
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Cena: 399zł
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Miejsce: Warszawa
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Więcej informacji oraz zapisy:<br/>
                  <a class="txt27" href="mailto:szkoleniahigiena@gmail.com">szkoleniahigiena@gmail.com</a><br/>
                  <a class="txt27" href="tel:783-821-842">783-821-842</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section-articles bg1-pattern">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-60 m-b-60">
                <img src="../images/trainings/vademecum_higienistki_stomatologicznej_cz_i_i/thumb_1.jpg" alt="IMG-MENU">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-60 m-b-60">
                <img src="../images/trainings/vademecum_higienistki_stomatologicznej_cz_i_i/thumb_2.jpg" alt="IMG-MENU">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-60 m-b-60">
                <img src="../images/trainings/vademecum_higienistki_stomatologicznej_cz_i_i/thumb_3.jpg" alt="IMG-MENU">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-articles bg1-pattern">
    <div class="container">
      <div class="row p-t-100">
      </div>
    </div>
  </section>
  {{> includes/video-parallax
    background-path='../images/trainings/vademecum_higienistki_stomatologicznej_cz_i_i/video_1.jpg'
    green-header='12 sierpień 2017'
    white-header='Wideorelacja'
    modal-target='modal-video-01'
    youtube-url='https://www.youtube.com/embed/iUsW0FQKwFA'
  }}
{{/inline}}

{{#*inline "scripts-block"}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@id": "./",
      "@type": "Course",
      "name": "Vademecum Higienistki Stomatologicznej - cz. II",
      "url": "http://anitawalczak.pl/szkolenia/vademecum-higienistki-stomatologicznej-cz-i-i",
      "description": "Celem szkolenia jest przedstawienie gotowych, sprawdzonych rozwiązań organizacji wizyty higienizacyjnej. Skorzystaj z mojego doświadczenia.",
      "hasCourseInstance": {
        "@type": "CourseInstance",
        "courseMode": "full-time",
        "name": "Vademecum Higienistki Stomatologicznej - cz. II",
        "startDate": "1 Jul 2018",
        "endDate": "1 Jul 2018",
        "location": "Warszawa",
        "offers": {
          "@type": "Offer",
          "price": "399",
          "priceCurrency": "PLN"
        }
      }
    }
  </script>
{{/inline}}
