{{#> layouts/base
  title="Anita Walczak | Vademecum Higienistki Stomatologicznej I"
  relative_path=".."
  description="Szkolenie łączące w sobie solidną podstawę teoretyczną z częścią praktyczną. Dające kompetencje do samodzielnej pracy z pacjentem. Dowiesz się o wielu nowoczesnych aspektach pracy Higienistki. Poznasz najnowsze techniki oraz trendy w dziedzinie profilaktyki stomatologicznej."
}}
{{/layouts/base}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak | Vademecum Higienistki Stomatologicznej I"
    description="Szkolenie łączące w sobie solidną podstawę teoretyczną z częścią praktyczną. Dające kompetencje do samodzielnej pracy z pacjentem. Dowiesz się o wielu nowoczesnych aspektach pracy Higienistki. Poznasz najnowsze techniki oraz trendy w dziedzinie profilaktyki stomatologicznej."
    url="http://anitawalczak.pl/szkolenia/vademecum-higienistki-stomatologicznej-cz-i"
    type="website"
    image="http://anitawalczak.pl/images/trainings/vademecum_higienistki_stomatologicznej_cz_i/header.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl/szkolenia/vademecum-higienistki-stomatologicznej-cz-i">
{{/inline}}

{{#*inline "content-block"}}
  <section class="bg-other-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-color: #000;">
    <div class="sizefull flex-col-c-m">
      <div class="caption2-slide1 tit2 t-center">
        Szkolenie
      </div>
      <div class="caption1-slide1 txt30 t-center m-b-15">
        Vademecum Higienistki Stomatologicznej - cz. I
      </div>
    </div>
  </section>

  {{> includes/breadcrumb
    main-url="../index.html#szkolenia"
    main-name="Szkolenia"
    crumb-name="Vademecum Higienistki Stomatologicznej - cz. I"
  }}

  <div class="container">
    <div class="row ">
      <div class="col-md-8 col-lg-9">
        <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
          <!-- Block4 -->
          <div class="blo4 p-b-63">
            <!-- - -->
            <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
              <span>
                <img src="../images/trainings/vademecum_higienistki_stomatologicznej_cz_i/header.jpg" alt="IMG-BLOG">
              </span>
            </div>

            <!-- - -->
            <div class="text-blo4 p-t-33">
              <h4 class="p-b-16">
                <span class="tit7">Vademecum Higienistki Stomatologicznej - cz. I</span>
              </h4>

              <div class="flex-w p-b-24">
                Profesjonalna Higienizacja Pacjenta
              </div>

              <p>
                Szkolenie łączące w sobie solidną podstawę teoretyczną z częścią praktyczną. Dające kompetencje do samodzielnej pracy z pacjentem. Dowiesz się o wielu nowoczesnych aspektach pracy Higienistki. Poznasz najnowsze techniki oraz trendy w dziedzinie profilaktyki stomatologicznej. Serdecznie zapraszamy na dwudniowe szkolenie do Warszawy!
              </p>
              <br/>
              <p>
                Program:
                <ul class="m-b-30 p-l-20">
                  <li class="txt10">
                    - Anatomia przyzębia
                  </li>
                  <li class="txt10">
                    - Etiopatogeneza chorób przyzębia
                  </li>
                  <li class="txt10">
                    - Badanie podmiotowe i przedmiotowe pacjenta
                  </li>
                  <li class="txt10">
                    - Klasyfikacja i diagnostyka chorób przyzębia
                  </li>
                  <li class="txt10">
                    - Wskaźniki higieny jamy ustnej
                  </li>
                  <li class="txt10">
                    - Protokoły wizyt profilaktycznych
                  </li>
                  <li class="txt10">
                    - Technika zabiegu scalingu, piaskowania nad-dziąsłowego oraz pod-dziąsłowego
                  </li>
                  <li class="txt10">
                    - Niechirurgiczne metody leczenia przyzębia
                  </li>
                  <li class="txt10">
                    - Praca higienistki w powiększeniu
                  </li>
                  <li class="txt10">
                    - Zastosowanie laserów w pracy higienistki
                  </li>
                </ul>
              </p>
              <p class="m-b-30">
                Zajęcia odbywają się w formie warsztatów w najbardziej nowoczesnej sali szkoleniowej w Polsce.
                Każdy z uczestników pracuje na swoim sprzęcie i materiałach, unicie szkoleniowym oraz fantomie.
                Prowadzący wykorzystuje tor wizyjny do nauki i pracy z uczestnikami.
                Podczas szkolenia uczestniczki pracują również z pacjentami, wykonując pod okiem trenera zabiegi higienizacji.
                W cenie szkolenia przerwy kawowe oraz obiad.
                Każdy uczestnik otrzymuje certyfikat.
                Liczba miejsc ograniczona, decyduje kolejność rejestracji.
              </p>

              <h6>Prowadzący:</h6>
              <b>Hig. stom. Anita Walczak</b>
              <br/><br/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
          <div class="categories">
            <h4 class="txt33 bo5-b p-b-35 p-t-58">
              Daty szkolenia
            </h4>

            <ul>
              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  11 - 12 marca 2018
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  15 - 16 kwietnia 2018
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  10 - 11 czerwca 2018
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Cena: 899zł
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Miejsce: Warszawa
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Więcej informacji oraz zapisy:<br/>
                  <a class="txt27" href="mailto:szkoleniahigiena@gmail.com">szkoleniahigiena@gmail.com</a><br/>
                  <a class="txt27" href="tel:783-821-842">783-821-842</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> includes/video-parallax
    background-path='../images/trainings/vademecum_higienistki_stomatologicznej_cz_i/video_1.jpg'
    green-header='5-6 listopada 2017'
    white-header='Wideorelacja'
    modal-target='modal-video-01'
    youtube-url='https://www.youtube.com/embed/j6phAfHD08k'
  }}
  <section class="section-articles" style="background-color: #000;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-4">
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-60 m-b-60">
                <img src="../images/trainings/vademecum_higienistki_stomatologicznej_cz_i/thumb_1.jpg" alt="IMG-MENU">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-60 m-b-60">
                <img src="../images/trainings/vademecum_higienistki_stomatologicznej_cz_i/thumb_2.jpg" alt="IMG-MENU">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-60 m-b-60">
                <img src="../images/trainings/vademecum_higienistki_stomatologicznej_cz_i/thumb_3.jpg" alt="IMG-MENU">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{> includes/video-parallax
    background-path='../images/trainings/vademecum_higienistki_stomatologicznej_cz_i/video_2.jpg'
    green-header='3-4 września 2017'
    white-header='Wideorelacja'
    modal-target='modal-video-02'
    youtube-url='https://www.youtube.com/embed/_2dHL0HpIdk'
  }}
  <section class="section-articles bg1-pattern">
    <div class="container">
      <div class="row p-t-100">
      </div>
    </div>
  </section>
  {{> includes/video-parallax
    background-path='../images/trainings/vademecum_higienistki_stomatologicznej_cz_i/video_3.jpg'
    green-header='19-20 marca 2017'
    white-header='Wideorelacja'
    modal-target='modal-video-03'
    youtube-url='https://www.youtube.com/embed/TW_TGyq4YHw'
  }}
{{/inline}}

{{#*inline "scripts-block"}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@id": "./",
      "@type": "Course",
      "name": "Vademecum Higienistki Stomatologicznej - cz. I",
      "url": "http://anitawalczak.pl/szkolenia/vademecum-higienistki-stomatologicznej-cz-i",
      "description": "Szkolenie łączące w sobie solidną podstawę teoretyczną z częścią praktyczną. Dające kompetencje do samodzielnej pracy z pacjentem. Dowiesz się o wielu nowoczesnych aspektach pracy Higienistki. Poznasz najnowsze techniki oraz trendy w dziedzinie profilaktyki stomatologicznej.",
      "hasCourseInstance": [{
        "@type": "CourseInstance",
        "courseMode": "full-time",
        "name": "Vademecum Higienistki Stomatologicznej - cz. I",
        "startDate": "11 Mar 2018",
        "endDate": "12 Mar 2018",
        "location": "Warszawa",
        "offers": {
          "@type": "Offer",
          "price": "899",
          "priceCurrency": "PLN"
        }
      },
      {
        "@type": "CourseInstance",
        "courseMode": "full-time",
        "name": "Vademecum Higienistki Stomatologicznej - cz. I",
        "startDate": "15 Apr 2018",
        "endDate": "16 Apr 2018",
        "location": "Warszawa",
        "offers": {
          "@type": "Offer",
          "price": "899",
          "priceCurrency": "PLN"
        }
      },
      {
        "@type": "CourseInstance",
        "courseMode": "full-time",
        "name": "Vademecum Higienistki Stomatologicznej - cz. I",
        "startDate": "10 Jun 2018",
        "endDate": "11 Jun 2018",
        "location": "Warszawa",
        "offers": {
          "@type": "Offer",
          "price": "899",
          "priceCurrency": "PLN"
        }
      }]
    }
  </script>
{{/inline}}
