{{#> layouts/base
  title="Anita Walczak | Zaawansowane Szkolenie Zarządzania Biofilmem"
  relative_path=".."
  description="Terapia Biofilmu (oryg. Guided Biofilm Theraphy) jest potwierdzoną klinicznie i zorientowaną na pacjenta koncepcją, która obejmuje zaburzenia nad-dziąsłowe i pod-dziąsłowe w opiece nad pacjentami z implantami oraz w trakcie leczenia chorób przyzębia."
}}
{{/layouts/base}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak | Zaawansowane Szkolenie Zarządzania Biofilmem"
    description="Terapia Biofilmu (oryg. Guided Biofilm Theraphy) jest potwierdzoną klinicznie i zorientowaną na pacjenta koncepcją, która obejmuje zaburzenia nad-dziąsłowe i pod-dziąsłowe w opiece nad pacjentami z implantami oraz w trakcie leczenia chorób przyzębia."
    url="http://anitawalczak.pl/szkolenia/zaawansowane-szkolenie-zarz-dzania-biofilmem"
    type="website"
    image="http://anitawalczak.pl/images/trainings/zaawansowane_szkolenie_zarz_dzania_biofilmem/header.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl/szkolenia/zaawansowane-szkolenie-zarz-dzania-biofilmem">
{{/inline}}

{{#*inline "content-block"}}
  <section class="bg-other-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-color: #000;">
    <div class="sizefull flex-col-c-m">
      <div class="caption2-slide1 tit2 t-center">
        Szkolenie
      </div>
      <div class="caption1-slide1 txt30 t-center m-b-15">
        Zaawansowane szkolenie zarządzania biofilmem
      </div>
    </div>
  </section>

  {{> includes/breadcrumb
    main-url="../index.html#szkolenia"
    main-name="Szkolenia"
    crumb-name="Zaawansowane szkolenie zarządzania biofilmem"
  }}

  <div class="container">
    <div class="row ">
      <div class="col-md-8 col-lg-9">
        <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
          <!-- Block4 -->
          <div class="blo4 p-b-63">
            <!-- - -->
            <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
              <span>
                <img src="../images/trainings/zaawansowane_szkolenie_zarz_dzania_biofilmem/header.jpg" alt="IMG-BLOG">
              </span>
            </div>

            <!-- - -->
            <div class="text-blo4 p-t-33">
              <h4 class="p-b-16">
                <span class="tit7">Zaawansowane szkolenie zarządzania biofilmem</span>
              </h4>

              <p class="m-b-70">
                Terapia Biofilmu (oryg. Guided Biofilm Theraphy) jest potwierdzoną klinicznie i zorientowaną na pacjenta koncepcją, która obejmuje zaburzenia nad-dziąsłowe i pod-dziąsłowe w opiece nad pacjentami z implantami oraz w trakcie leczenia chorób przyzębia. Jest częścią rozleglej koncepcji profilaktyki przy użyciu minimalnie inwazyjnego podejścia, które ogranicza zastosowanie sprzętu manualnego oraz ultradźwiękowego.<br/><br/>
                Podczas szkolenia przyjrzymy się teoretycznej stronie GBT i omówimy jej rolę we współczesnej terapii wspomagającej chorób przyzębia. Omówimy szczegółowo rolę biofilmu w rozwoju chorób jamy ustnej i przejdziemy przez osiem kroków GBT.<br/>Obejrzymy slajdy oraz wideo wspierające tę koncepcję oraz omówimy kilka interesujących przypadków klinicznych, z których możecie się uczyć i czerpać doświadczenia.<br/><br/>
                W drugiej części warsztatów bardziej zajmiemy się aspektami praktycznymi i przyjrzymy się różnym technikom pracy, przejdziemy przez usuwanie nad-dziąsłowo i pod-dziąsłowo biofilmu przy zastosowaniu Air flow oraz zademonstruje koncepcję GBT. Na koniec szkolenia uczestnicy będą w stanie ocenić efekty kawitacji oraz usuwania patogenów. Uzyskają też wiedzę na temat najnowszych osiągnięć w bezbolesnym leczeniu ultradźwiękami Piezon oraz korzyści dla pacjenta płynących z zastosowania Air Flow. Będą mogli samodzielnie wdrożyć Air Flow w leczeniu i fazie podtrzymującej kieszeni dziąsłowej oraz implantów. Dokonają też oceny właściwości różnych technik i produktów do zabiegu piaskowania oraz uzyskają jasny pogląd w kwestii planu leczenia GBT dla swoich pacjentów.
              </p>

              <h6>Prowadzący:</h6>
              <b>Hig. stom. Faye Donald</b>
              {{> includes/trainers/faye_donald
              }}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
          <div class="categories">
            <h4 class="txt33 bo5-b p-b-35 p-t-58">
              Daty szkolenia
            </h4>

            <ul>
              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  15 września 2018
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Cena: 899zł
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Tłumaczenie konsekutywne
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Miejsce: Warszawa
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Więcej informacji oraz zapisy:<br/>
                  <a class="txt27" href="mailto:szkoleniahigiena@gmail.com">szkoleniahigiena@gmail.com</a><br/>
                  <a class="txt27" href="tel:783-821-842">783-821-842</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{{/inline}}

{{#*inline "scripts-block"}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@id": "./",
      "@type": "Course",
      "name": "Zaawansowane szkolenie zarządzania biofilmem",
      "url": "http://anitawalczak.pl/szkolenia/zaawansowane-szkolenie-zarz-dzania-biofilmem",
      "description": "Terapia Biofilmu (oryg. Guided Biofilm Theraphy) jest potwierdzoną klinicznie i zorientowaną na pacjenta koncepcją, która obejmuje zaburzenia nad-dziąsłowe i pod-dziąsłowe w opiece nad pacjentami z implantami oraz w trakcie leczenia chorób przyzębia. Jest częścią rozleglej koncepcji profilaktyki przy użyciu minimalnie inwazyjnego podejścia, które ogranicza zastosowanie sprzętu manualnego oraz ultradźwiękowego.",
      "hasCourseInstance": {
        "@type": "CourseInstance",
        "courseMode": "full-time",
        "name": "Zaawansowane szkolenie zarządzania biofilmem",
        "startDate": "15 Sep 2018",
        "endDate": "15 Sep 2018",
        "location": "Warszawa",
        "offers": {
          "@type": "Offer",
          "price": "899",
          "priceCurrency": "PLN"
        }
      }
    }
  </script>
{{/inline}}
