{{#> layouts/base
  title="Anita Walczak | Zastosowanie Laserów w Gabinecie Higieny"
  relative_path=".."
  description="W wyniku dynamicznego rozwoju, który dokonał się w ostatnich latach w stomatologii, coraz większą popularnością cieszą się lasery stomatologiczne. Badania kliniczne potwierdzają niezwykłe właściwości światła laserowego, dlatego istnieje wiele obszarów zastosowania klinicznego dla lekarza oraz higienistek."
}}
{{/layouts/base}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak | Zastosowanie Laserów w Gabinecie Higieny"
    description="W wyniku dynamicznego rozwoju, który dokonał się w ostatnich latach w stomatologii, coraz większą popularnością cieszą się lasery stomatologiczne. Badania kliniczne potwierdzają niezwykłe właściwości światła laserowego, dlatego istnieje wiele obszarów zastosowania klinicznego dla lekarza oraz higienistek."
    url="http://anitawalczak.pl/szkolenia/zastosowanie-laser-w-w-gabinecie-higieny"
    type="website"
    image="http://anitawalczak.pl/images/trainings/zastosowanie_laser_w_w_gabinecie_higieny/header.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl/szkolenia/zastosowanie-laser-w-w-gabinecie-higieny">
{{/inline}}

{{#*inline "content-block"}}
  <section class="bg-other-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-color: #000;">
    <div class="sizefull flex-col-c-m">
      <div class="caption2-slide1 tit2 t-center">
        Szkolenie
      </div>
      <div class="caption1-slide1 txt30 t-center m-b-15">
        Zastosowanie Laserów w Gabinecie Higieny
      </div>
    </div>
  </section>

  {{> includes/breadcrumb
    main-url="../index.html#szkolenia"
    main-name="Szkolenia"
    crumb-name="Zastosowanie Laserów w Gabinecie Higieny"
  }}

  <div class="container">
    <div class="row ">
      <div class="col-md-8 col-lg-9">
        <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
          <!-- Block4 -->
          <div class="blo4 p-b-63">
            <!-- - -->
            <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
              <span>
                <img src="../images/trainings/zastosowanie_laser_w_w_gabinecie_higieny/header.jpg" alt="IMG-BLOG">
              </span>
            </div>

            <!-- - -->
            <div class="text-blo4 p-t-33">
              <h4 class="p-b-16">
                <span class="tit7">Zastosowanie Laserów w Gabinecie Higieny</span>
              </h4>

              <p class="m-b-30">
                W wyniku dynamicznego rozwoju, który dokonał się w ostatnich latach w stomatologii, coraz większą popularnością cieszą się lasery stomatologiczne.<br/>
                Badania kliniczne potwierdzają niezwykłe właściwości światła laserowego, dlatego istnieje wiele obszarów zastosowania klinicznego dla lekarza oraz higienistek.<br/><br/>
                Zapraszam na szkolenie teoretyczno-praktyczne, na którym poznasz podstawy teoretyczne oraz nauczysz się jak pracować przy użyciu laserów.
              </p>
              <p>
                Program:
                <ul class="m-b-30 p-l-20">
                  <li class="txt10">- Czym jest laser i jak działa?</li>
                  <li class="txt10">- Biostymulacja laserowa</li>
                  <li class="txt10">- Fotoaktywna dezynfekcja</li>
                  <li class="txt10">- Lasery w leczeniu periodontologicznym</li>
                  <li class="txt10">- Lasery w leczeniu schorzeń błony śluzowej</li>
                  <li class="txt10">- Laserowe wybielanie zębów</li>
                  <li class="txt10">- Bezpieczeństwo w pracy z laserami</li>
                </ul>
              </p>
              <p class="m-b-30">
                Zajęcia odbywają się w formie warsztatów w najbardziej nowoczesnej sali szkoleniowej w Polsce.<br/>
                W cenie szkolenia przerwy kawowe oraz obiad.<br/>
                Każdy uczestnik otrzymuje certyfikat.<br/>
                Liczba miejsc ograniczona, decyduje kolejność rejestracji.
              </p>

              <h6>Prowadzący:</h6>
              <b>Hig. stom. Anita Walczak</b>
              <br/><br/>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
          <div class="categories">
            <h4 class="txt33 bo5-b p-b-35 p-t-58">
              Daty szkolenia
            </h4>

            <ul>
              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  2 lipca 2018
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Cena: 299zł
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Miejsce: Warszawa
                </span>
              </li>

              <li class="bo5-b p-t-8 p-b-8">
                <span class="txt27">
                  Więcej informacji oraz zapisy:<br/>
                  <a class="txt27" href="mailto:szkoleniahigiena@gmail.com">szkoleniahigiena@gmail.com</a><br/>
                  <a class="txt27" href="tel:783-821-842">783-821-842</a>
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> includes/video-parallax
    background-path='../images/trainings/zastosowanie_laser_w_w_gabinecie_higieny/video_1.jpg'
    modal-target='modal-video-01'
    white-header='&nbsp;'
    green-header='&nbsp;'
    youtube-url='https://www.youtube.com/embed/8cBzpQ0vbGI'
  }}
  <section class="section-articles bg1-pattern">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-60 m-b-60">
                <img src="../images/trainings/zastosowanie_laser_w_w_gabinecie_higieny/thumb_1.jpg" alt="IMG-MENU">
              </div>
            </div>
            <div class="col-md-6">
              <div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-60 m-b-60">
                <img src="../images/trainings/zastosowanie_laser_w_w_gabinecie_higieny/thumb_2.jpg" alt="IMG-MENU">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/inline}}

{{#*inline "scripts-block"}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@id": "./",
      "@type": "Course",
      "name": "Zastosowanie Laserów w Gabinecie Higieny",
      "url": "http://anitawalczak.pl/szkolenia/zastosowanie-laser-w-w-gabinecie-higieny",
      "description": "W wyniku dynamicznego rozwoju, który dokonał się w ostatnich latach w stomatologii, coraz większą popularnością cieszą się lasery stomatologiczne. Badania kliniczne potwierdzają niezwykłe właściwości światła laserowego, dlatego istnieje wiele obszarów zastosowania klinicznego dla lekarza oraz higienistek.",
      "hasCourseInstance": {
        "@type": "CourseInstance",
        "courseMode": "full-time",
        "name": "Zaawansowane szkolenie zarządzania biofilmem",
        "startDate": "2 Jul 2018",
        "endDate": "2 Jul 2018",
        "location": "Warszawa",
        "offers": {
          "@type": "Offer",
          "price": "299",
          "priceCurrency": "PLN"
        }
      }
    }
  </script>
{{/inline}}
