{{#> layouts/base
  title="Anita Walczak - Zdrowie i Edukacja"
  description="Dyplomowana higienistka stomatologiczna, studentka nauk o zarządzaniu. Na co dzień spełnia się w pracy z ludźmi, dbając o ich piękne uśmiechy. Ma bogate doświadczenie w pracy z pacjentami pracując w prestiżowych klinikach na terenie całego kraju. Oprócz pracy klinicznej prowadzi działalność edukacyjną."
}}
{{/layouts/base}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak - Zdrowie i Edukacja"
    description="Dyplomowana higienistka stomatologiczna, studentka nauk o zarządzaniu. Na co dzień spełnia się w pracy z ludźmi, dbając o ich piękne uśmiechy. Ma bogate doświadczenie w pracy z pacjentami pracując w prestiżowych klinikach na terenie całego kraju. Oprócz pracy klinicznej prowadzi działalność edukacyjną."
    url="http://anitawalczak.pl"
    type="website"
    image="http://anitawalczak.pl/images/anita_walczak_black-start-mobile.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl">
{{/inline}}

{{#*inline "content-block"}}

  <section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15">
    <div class="sizefull flex-col-c-m p-l-515 p-r-15 p-t-150 p-b-170">
      <h1 class="tit1 t-center m-b-37">
        Anita Walczak
      </h1>
      <h2 class="txt6-45px t-center m-b-15">
        Zdrowie i&nbsp;Edukacja
      </h2>
    </div>
  </section>

  <section class="bg-title-page-mobile flex-c-m p-t-250"  style="min-height: 00px;">
    <div class="sizefull m-t-250">
      <h1 class="tit1 t-center m-t-8 m-b-8">
        Anita Walczak
      </h1>
      <div class="txt6-45px t-center m-b-15">
        Zdrowie i&nbsp;Edukacja
      </div>
    </div>
  </section>

  <section class="section-welcome bg1-pattern p-t-120 p-b-105">
    <div class="container">
      <div class="row">
        <div class="col-md-6 p-t-45 p-b-30">
          <div class="wrap-text-welcome t-center">

            <h3 class="tit3 t-center m-b-35 m-t-5">
              O mnie
            </h3>

            <p class="t-center m-b-22 size3 m-l-r-auto">
              Prezydent Polskiej Akademii Profilaktyki Stomatologicznej. 
              Dyplomowana Higienistka stomatologiczna, studentka nauk o&nbsp;Zarządzaniu.
              Na co dzień spełnia się w pracy z ludźmi, dbając o ich piękne uśmiechy. Ma bogate doświadczenie w pracy z pacjentami pracując w prestiżowych klinikach na terenie całego kraju.
            </p>
            <a href="/o-mnie" class="txt4">
              Więcej
              <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="col-md-6 p-b-30">
          <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
            <img src="images/012crop.jpg" alt="Anita Walczak">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-intro" id='szkolenia'>
    <div class="header-intro t-center p-t-100 p-b-100" style="background: #000">

      <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
        Szkolenia
      </h3>
    </div>

    <div class="content-intro bg-white p-b-133">
      <div class="container">
        <div class="row">
          {{> includes/training
            training-path="szkolenia/vademecum-higienistki-stomatologicznej-cz-i"
            training-image="images/trainings/vademecum_higienistki_stomatologicznej_cz_i.jpg"
            training-title="Vademecum Higienistki Stomatologicznej - cz. I"
            training-description="Profesjonalna higienizacja pacjenta"
          }}

          {{> includes/training
            training-path="szkolenia/vademecum-higienistki-stomatologicznej-cz-i-i"
            training-image="images/trainings/vademecum_higienistki_stomatologicznej_cz_i_i.jpg"
            training-title="Vademecum Higienistki Stomatologicznej - cz. II"
            training-description="Jak zmotywować pacjenta oraz przeprowadzić skuteczny instruktaż higieny?"
          }}

          {{> includes/training
            training-path="szkolenia/zaawansowane-szkolenie-zarz-dzania-biofilmem"
            training-image="images/trainings/zaawansowane_szkolenie_zarz_dzania_biofilmem.jpg"
            training-title="Zaawansowane Szkolenie Zarządzania Biofilmem"
            training-description="Protokół nowoczesnej profilaktyki"
          }}

          {{> includes/training
            training-path="szkolenia/masterclass-in-periodontal-disease"
            training-image="images/trainings/masterclass_in_periodontal_disease.jpg"
            training-title="Masterclass in Periodontal Disease"
            training-description="Zaawansowane szkolenie periodontologiczne"
          }}

          {{> includes/training
            training-path="szkolenia/zastosowanie-laser-w-w-gabinecie-higieny"
            training-image="images/trainings/zastosowanie_laser_w_w_gabinecie_higieny.jpg"
            training-title="Zastosowanie Laserów w Gabinecie Higieny"
            training-description="Podstawowe szkolenie z zakresu laseroterapii dla higienistek"
          }}

          {{> includes/training
            training-path="szkolenia/szkolenia-zamkni-te-dla-kliniki"
            training-image="images/trainings/szkolenia_zamkni_te_dla_kliniki.jpg"
            training-title="Szkolenia zamknięte dla kliniki"
            training-description="Szkolenie skierowane jest dla całego zespołu higienistek"
          }}

          {{> includes/training
            training-path="szkolenia/szkolenie-indywidualne"
            training-image="images/trainings/szkolenie_indywidualne.jpg"
            training-title="Szkolenie indywidualne"
            training-description="Najbardziej intensywna i efektywna forma nauki"
            container-class="m-l-r-auto"
          }}
        </div>
      </div>
    </div>
  </section>
  <section class="section-articles" style="background-color: #000;">
    <div class="container">
      <div class="row p-t-100">
      </div>
    </div>
  </section>
  <section class="section-review p-t-115">
    <!-- - -->
    <div class="title-review references-slider t-center m-b-2">
      <h3 class="tit8 t-center p-l-20 p-r-15 p-t-3">
        Referencje
      </h3>
      <a href="/referencje" class="tit2 p-l-160 t-center">Zobacz wszytskie</a>
    </div>

    <div class="wrap-slick3">
      <div class="slick3">
        {{#each references}}
          {{> includes/reference
            author=this.author
            position=this.position
            opinion=this.opinion
          }}
        {{/each}}
      </div>

      <div class="wrap-slick3-dots m-t-30"></div>
    </div>
  </section>

  {{> includes/parallax
    image-path="images/index_bottom.jpg"
  }}

{{/inline}}

{{#*inline "scripts-block"}}
{{/inline}}
