{{#> layouts/base
  title="Anita Walczak | Kontakt"
  description="Szukasz najlepszej higienistki, pięknego i zdrowego uśmiechu? Podnosisz kompetencje swojego zespołu? Zapraszam do kontaktu!"
}}
{{/layouts/base}}

{{#*inline "stylesheets-block"}}
  {{> includes/stylesheets }}
{{/inline}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak | Kontakt"
    description="Dyplomowana higienistka stomatologiczna, studentka nauk o zarządzaniu. Na co dzień spełnia się w pracy z ludźmi, dbając o ich piękne uśmiechy. Ma bogate doświadczenie w pracy z pacjentami pracując w prestiżowych klinikach na terenie całego kraju. Oprócz pracy klinicznej prowadzi działalność edukacyjną."
    url="http://anitawalczak.pl/kontakt"
    type="website"
    image="http://anitawalczak.pl/images/anita_walczak_black-start-mobile.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl/kontakt">
{{/inline}}

{{#*inline "content-block"}}

  <section class="bg-other-page contact-header flex-c-m p-t-160 p-b-80 p-l-15 p-r-15">
    <h2 class="tit6 t-center">
      Kontakt
    </h2>
  </section>

  <section itemscope itemtype="http://schema.org/BreadcrumbList">
    <div class="bread-crumb bo5-b p-t-17 p-b-17">
      <div class="container">
        <span class="txt29 m-l-10 m-r-10">/</span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="/kontakt" class="txt27" itemscope itemtype="http://schema.org/Thing" itemprop="item" >
            <span itemprop="name">Kontakt</span>
          </a>
          <meta itemprop="position" content="1" />
        </span>
      </div>
    </div>
  </section>

  <section class="section-contact bg1-pattern p-t-90 p-b-113">
    <div class="container">
      <h3 class="tit7 t-center p-b-62">
        Wyślij wiadomość
      </h3>

      <form class="wrap-form-reservation size22 m-l-r-auto">
        <div class="row">
          <div class="col-md-4">
            <!-- Name -->
            <span class="txt9">
              Imię, nazwisko / Nazwa
            </span>

            <div class="wrap-inputname size12 bo2 bo-rad-10 m-t-3 m-b-23">
              <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="name" placeholder="Imię, nazwisko / Nazwa">
            </div>
          </div>

          <div class="col-md-4">
            <!-- Email -->
            <span class="txt9">
              Email
            </span>

            <div class="wrap-inputemail size12 bo2 bo-rad-10 m-t-3 m-b-23">
              <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="email" placeholder="Email">
            </div>
          </div>

          <div class="col-md-4">
            <!-- Phone -->
            <span class="txt9">
              Telefon
            </span>

            <div class="wrap-inputphone size12 bo2 bo-rad-10 m-t-3 m-b-23">
              <input class="bo-rad-10 sizefull txt10 p-l-20" type="text" name="phone" placeholder="Telefon">
            </div>
          </div>

          <div class="col-12">
            <!-- Message -->
            <span class="txt9">
              Wiadomość
            </span>
            <textarea class="bo-rad-10 size35 bo2 txt10 p-l-20 p-t-15 m-b-10 m-t-3" name="msg" placeholder="Wiadomość"></textarea>
          </div>
        </div>

        <div class="wrap-btn-booking flex-c-m m-t-13">
          <!-- Button3 -->
          <button id="js-submit-form" type="submit" class="btn3 flex-c-m size36 txt11 trans-0-4">
            Wyślij
          </button>
        </div>
      </form>

      <div class="row p-t-135">
        <div class="col-sm-8 col-md-6 col-lg-6 m-l-r-auto p-t-30">
          <div class="dis-flex m-l-23">
            <div class="p-r-40 p-t-6">
              <i class="fa fa-phone fs-22 dis-inline-block size19" aria-hidden="true"></i>
            </div>

            <div class="flex-col-l">
              <a href="tel:48783821842" class="txt4 p-b-10">
                48 783 821 842
              </a>
              <span class="txt23 size38">
                Telefon
              </span>
            </div>
          </div>
        </div>

        <div class="col-sm-8 col-md-6 col-lg-6 m-l-r-auto p-t-30">
          <div class="dis-flex m-l-23">
            <div class="p-r-40 p-t-6">
              <i class="fa fa-envelope fs-22 dis-inline-block size19" aria-hidden="true"></i>
            </div>


            <div class="flex-col-l">
              <a href="mailto:praca@anitawalczak.pl" class="txt4 p-b-10">
                praca@anitawalczak.pl
              </a>
              <span class="txt23 size38">
                E-mail
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade modal-video" id="contact-info" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document" data-dismiss="modal">
      <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>
      <div class="tit4 modal-message">
      </div>
    </div>
  </div>

{{/inline}}

{{#*inline "scripts-block"}}
  <script type="text/javascript">
    $(document).on('click', '#js-submit-form', function(e) {
      e.preventDefault();
      data = $(e.target).parents('form').serialize()
      $.ajax({
        url: 'scripts/mailer.php',
        method: 'post',
        data: data,
        complete: function(data) {
          console.log(data)
          $('.modal .modal-message').text(JSON.parse(data.responseText).message)
          $('#contact-info').modal('show')
        }
      })
    });
  </script>

{{/inline}}
