{{#> layouts/base
  title="Anita Walczak | O mnie"
  description="Prezydent Polskiej Akademii Profilaktyki Stomatologicznej. Dyplomowana Higienistka stomatologiczna, studentka nauk o Zarządzaniu. Na co dzień spełnia się w pracy z ludźmi, dbając o ich piękne uśmiechy. Ma bogate doświadczenie w pracy z pacjentami pracując w prestiżowych klinikach na terenie całego kraju."
}}
{{/layouts/base}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak | O mnie"
    description="Prezydent Polskiej Akademii Profilaktyki Stomatologicznej. Dyplomowana Higienistka stomatologiczna, studentka nauk o Zarządzaniu. Na co dzień spełnia się w pracy z ludźmi, dbając o ich piękne uśmiechy. Ma bogate doświadczenie w pracy z pacjentami pracując w prestiżowych klinikach na terenie całego kraju."
    url="http://anitawalczak.pl/o-mnie"
    type="website"
    image="http://anitawalczak.pl/images/anita_walczak_black-start-mobile.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl/o-mnie">
{{/inline}}

{{#*inline "content-block"}}
  <!-- Title Page -->
  <section class="bg-other-page about-header flex-c-m p-t-160 p-b-80 p-l-15 p-r-15">
    <!-- <h2 class="tit6 t-center">
      O mnie
    </h2> -->
  </section>

  <section itemscope itemtype="http://schema.org/BreadcrumbList">
    <div class="bread-crumb bo5-b p-t-17 p-b-17">
      <div class="container">
        <span class="txt29 m-l-10 m-r-10">/</span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="/o-mnie" class="txt27" itemscope itemtype="http://schema.org/Thing" itemprop="item" >
            <span itemprop="name">O mnie</span>
          </a>
          <meta itemprop="position" content="1" />
        </span>
      </div>
    </div>
  </section>


  <!-- Our Story -->
  <section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
    <span class="tit2 t-center">
      O mnie
    </span>

    <h3 class="tit3 t-center m-b-35 m-t-5">
      Anita Walczak
    </h3>

    <p class="t-center size32 m-l-r-auto">
      Prezydent Polskiej Akademii Profilaktyki Stomatologicznej. 
      Dyplomowana Higienistka stomatologiczna, studentka nauk o Zarządzaniu.
      Na co dzień spełnia się w pracy z ludźmi, dbając o ich piękne uśmiechy. Ma bogate doświadczenie w pracy z pacjentami pracując w prestiżowych klinikach na terenie całego kraju.
    </p>
    <br/>
    <p class="t-center size32 m-l-r-auto">
      Oprócz pracy klinicznej prowadzi działalność edukacyjną m.in. specjalistyczny blog dla higienistek oraz blog dla pacjentów, publikuje artykuły oraz case study w czasopismach branżowych.
      Prowadzi oraz organizuje szkolenia, wykłady oraz konferencję dla higienistek stomatologicznych oraz lekarzy dentystów.
      Uzyskała tytuł Trenera Swiss Dental Academy.
    </p>
    <br/>
    <p class="t-center size32 m-l-r-auto">
      Sukcesywnie przechodząc wszystkie etapy kariery pracowała na takich stanowiskach jak asystentka stomatologiczna, higienistka stomatologiczna, koordynator zespołu higienistek, manager kliniki stomatologicznej, specjalista ds. marketingu w centrum stomatologicznym.
    </p>
    <br/>
    <p class="t-center size32 m-l-r-auto">
      Nieodłącznym elementem w jej pracy jest aparat fotograficzny, lupy oraz mikroskop stomatologiczny. W codziennej praktyce wykorzystuje nowoczesne możliwości laserów stomatologicznych.
    </p>
    <br/>
    <p class="t-center size32 m-l-r-auto">
      Nieustannie podnosi swoje kompetencje, uczestniczy w wielu szkoleniach i konferencjach u takich wykładowców jak dr Tomasz Rozwadowski, dr n. med. Kinga Grzech-Leśniak, dr Pavol Andel, dr Neha Dixit, dr Wojciech Bednarz, dr n. med. Witold Jurczyński, dr n.med Mariusz Duda, dr John C. Cranham, Mariusz Oboda, Mariusz Szuba, Tony Robbins,T. Harv Ecker, Mateusz Grzesiak i wielu innych.
    </p>
    <br/>
    <p class="t-center size32 m-l-r-auto">
      Zdobywa doświadczenie od zagranicznych specjalistów, uczestnicząc w kursach m.in. Włochy, Wielka Brytania, Stany Zjednoczone, Szwajcaria.
    </p>
    <br/>
    <p class="t-center size32 m-l-r-auto">
      Współpracując z klinikami stomatologicznymi, propaguje nowe standardy pracy higienistki w zespole stomatologicznym. 
      Na co dzień twórcza, kreatywna, otwarta na ludzi. 

    </p>
  </section>

  {{> includes/video-parallax
    background-path='images/movie_bg.jpg'
    green-header='Otwórz się na'
    white-header='rozwój'
    modal-target='modal-video-01'
    youtube-url='https://www.youtube.com/embed/B7dFPjsuKv4'
  }}

  <section class="section-articles bg1-pattern">
    <div class="container">
      <div class="row p-t-100">
        <span class="tit2 m-l-r-auto">
          Publikacje
        </span>
      </div>
      <div class="row p-t-108 p-b-70">
        <div class="col-md-8 col-lg-6 m-l-r-auto">
          {{> includes/article
            article-pdf="sztuka_mycia_zebow.pdf"
            article-image="sztuka_mycia_zebow.jpg"
            article-title="Sztuka mycia zębów"
            article-caption="ZWIERCIADŁO<br/>wydanie specjalne<br/>2/2017 FIT & BEAUTY"
          }}

          {{> includes/article
            article-pdf="higienistka_polisa_dla_lekarza.pdf"
            article-image="higienistka_polisa_dla_lekarza.jpg"
            article-title="Higienistka polisą dla lekarza"
            article-caption="Medical Tribune<br/>Stomatologia<br/>4/2017"
          }}
        </div>
        <div class="col-md-8 col-lg-6 m-l-r-auto">
          {{> includes/article
            article-pdf="wybielanie_z_b_w_laserem_diodowym.pdf"
            article-image="wybielanie_z_b_w_laserem_diodowym.png"
            article-title="Wybielanie zębów<br/>laserem diodowym"
            article-caption="ASYSTA DENTYSTYCZNA<br/>Wydawnictwo Elamed<br/>1/2018"
          }}

          {{> includes/article
            article-pdf="ocena_skutecznosci_szczotek_oraz_nici.pdf"
            article-image="ocena_skutecznosci_szczotek_oraz_nici.jpg"
            article-title="Skuteczność szczotek oraz <br/>nici w redukcji stanu<br/>zapalnego dziąseł"
            article-caption="e-Dentico<br/>1/2017"
          }}

        </div>
      </div>
    </div>
  </section>

  {{> includes/parallax
    image-path="images/about_bg.jpg"
  }}

{{/inline}}

{{#*inline "scripts-block"}}
{{/inline}}
