{{#> layouts/base
  title="Anita Walczak | Referencje"
  description="Sukcesywnie przechodząc wszystkie etapy kariery pracowała na takich stanowiskach jak menager kliniki stomatologicznej, specjalista ds. marketingu w centrum stomatologicznym, koordynator zespołu higienistek, higienistka stomatologiczna oraz asystentka stomatologiczna."
}}
{{/layouts/base}}

{{#*inline "fb-og-block"}}
  {{> includes/fb_og
    title="Anita Walczak | Referencje"
    description="Sukcesywnie przechodząc wszystkie etapy kariery pracowała na takich stanowiskach jak menager kliniki stomatologicznej, specjalista ds. marketingu w centrum stomatologicznym, koordynator zespołu higienistek, higienistka stomatologiczna oraz asystentka stomatologiczna."
    url="http://anitawalczak.pl/referencje"
    type="website"
    image="http://anitawalczak.pl/images/anita_walczak_black-start-mobile.jpg"
  }}
{{/inline}}

{{#*inline "header-content"}}
  <link rel="canonical" href="http://anitawalczak.pl/referencje">
{{/inline}}

{{#*inline "content-block"}}
  <section class="bg-other-page references-header flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(images/references_header.jpg);">
    <h2 class="tit1 t-center">
      Referencje
    </h2>
  </section>

  <section itemscope itemtype="http://schema.org/BreadcrumbList">
    <div class="bread-crumb bo5-b p-t-17 p-b-17">
      <div class="container">
        <span class="txt29 m-l-10 m-r-10">/</span>
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="/referencje" class="txt27" itemscope itemtype="http://schema.org/Thing" itemprop="item" >
            <span itemprop="name">Referencje</span>
          </a>
          <meta itemprop="position" content="1" />
        </span>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row ">
      <div class="col-md-8 col-lg-9">
        <div class="p-t-80 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
          <!-- Block4 -->
          {{#each references}}
            {{> includes/reference-article
              author=this.author
              opinion=this.opinion
            }}
          {{/each}}
        </div>

        <div class="col-md-4 col-lg-3">
          <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
          </div>
        </div>
      </div>
    </div>
  </div>


{{/inline}}
