<div class="blo3 flex-w flex-col-l-sm m-b-30">
  <div class="pic-blo3 size20 bo-rad-10 hov-img-zoom">
    <a href="files/articles/{{article-pdf}}"><img src="images/articles/{{article-image}}" alt="IMG-MENU"></a>
  </div>

  <div class="text-blo3 flex-col-l-m article-description">
    <a href="files/articles/{{article-pdf}}" class="txt21 m-b-3">
      {{{article-title}}}
    </a>

    <span class="txt23">
      {{{article-caption}}}
    </span>
  </div>
</div>
