<section itemscope itemtype="http://schema.org/BreadcrumbList">
  <div class="bread-crumb bo5-b p-t-17 p-b-17">
    <div class="container">
      <span class="txt29 m-l-10 m-r-10">/</span>
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a href="{{main-url}}" class="txt27" itemscope itemtype="http://schema.org/Thing" itemprop="item" >
          <span itemprop="name">{{main-name}}</span>
        </a>
        <meta itemprop="position" content="1" />
      </span>
      <span class="txt29 m-l-10 m-r-10">/</span>
      <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="txt27" href="" itemscope itemtype="http://schema.org/Thing" itemprop="item">
          <span itemprop="name">
            {{crumb-name}}
          </span>
        </a>
        <meta itemprop="position" content="2" />
      </span>
    </div>
  </div>
</section>
