<meta property="og:url" content="{{url}}" />
<meta property="og:type" content="{{type}}" />
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:image" content="{{image}}" />
