<div class="item-slick3 item1-slick3">
  <div class="wrap-content-slide3 p-b-50 p-t-50">
    <div class="container">
      <div class="content-review m-t-33 ">
        <p class="t-center txt12 size15 m-l-r-auto">
          {{{opinion}}}
        </p>
        <div class="more-review txt4 t-center m-t-32">
          {{author}} - {{position}}
        </div>
      </div>
    </div>
  </div>
</div>
