
<div class="blo4 p-b-63">

  <!-- - -->
  <div class="text-blo4 p-t-33">
    <h4 class="p-b-8">
      <span class="tit7">{{author}}</span>
    </h4>
    <div class="txt29 flex-w p-b-20">{{position}}</div>

    <p>
      {{{opinion}}}
    </p>
  </div>
</div>
<hr/>
