<link rel="icon" type="image/png" href="{{relative_path}}/images/icons/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="{{relative_path}}/vendor/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/fonts/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/fonts/themify/themify-icons.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/vendor/css-hamburgers/hamburgers.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/vendor/animsition/css/animsition.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/vendor/select2/select2.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/vendor/slick/slick.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/vendor/lightbox2/css/lightbox.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/css/util.css">
<link rel="stylesheet" type="text/css" href="{{relative_path}}/css/main.css">
