<div class="col-md-4 p-t-30 {{container-class}}">
  <!-- Block1 -->
  <div class="blo1">
    <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
      <a href="{{training-path}}"><img src="{{training-image}}" alt="IMG-INTRO"></a>
    </div>

    <div class="wrap-text-blo1 p-t-35">
      <a href="{{training-path}}"><h4 class="txt5 color0-hov trans-0-4 m-b-13">
        {{training-title}}
      </h4></a>

      <p class="m-b-20">
        {{training-description}}
      </p>

      <a href="{{training-path}}" class="txt4">
        Dowiedz się więcej
        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
