﻿.version.szkolenia /* version checker */ {
    color: #00001C;
    background-color: #AE73DA;
}

#muse_css_mq {
    background-color: #FFFFFF;
}

#page {
    z-index: 1;
    width: 100%;
    min-height: 500px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}

#page_position_content {
    padding-bottom: 27px;
    /*width: 0.01px;*/ /* should not cover content below */
    width: 100%;
}

#u128 {
    z-index: 156;
    height: 9px;
    position: fixed;
    top: 0px;
}

#u128-bw {
    z-index: 156;
}

#u636 {
    z-index: 2;
    width: 382px;
    /*margin-left: 20px;*/
    left: 0;
    position: relative;
}

#u1812 {
    z-index: 5;
    width: 282px;
    position: relative;
    margin-right: -10000px;
    margin-top: 23px;
}

#u632 {
    z-index: 6;
}

#u1818 {
    z-index: 3;
    width: 89px;
    position: relative;
    margin-right: -10000px;
    left: 293px;
}

#u630 {
    z-index: 4;
}

#accordionu877 {
    z-index: 7;
    width: 90vw;
    min-width: 891px;
    border-color: #7F7F7F;
    background-color: transparent;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    left: -30vw;
    margin-top: 35px;
    position: relative;
}

#u882 {
    z-index: 8;
    width: 100%;
    background-color: transparent;
    position: relative;
}

#u885-12 {
    z-index: 9;
    width: calc(100% - 10px);
    min-height: 100px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif");
    border-color: #FFFFFF;
    background-color: #DEDEDE;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #999999;
    text-align: center;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
}

    #u885-12:hover {
        -webkit-transition-duration: 0.5s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.5s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-color: #A4CC29;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 100px;
        width: calc(100% - 10px);
        margin: 0px;
    }

    #u885-12.AccordionPanelTabOpen {
        -webkit-transition-duration: 0s;
        -webkit-transition-delay: 0s;
        transition-duration: 0s;
        transition-delay: 0s;
        background-color: #A4CC29;
        border-radius: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 100px;
        width: calc(100% - 10px);
        margin: 0px;
    }

    #u885-12:hover p {
        color: #000000;
        visibility: inherit;
    }

#u883 {
    z-index: 21;
    /*width: 358px;*/
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    position: relative;
    padding: 15px 74px 23px 357px;
}

#u1873 {
    z-index: 22;
    width: 355px;
    background-color: transparent;
    border-radius: 60px;
    margin-left: 3px;
    position: relative;
}

#u1873_img {
    margin-top: -20px;
    margin-bottom: -9px;
}

#pu1263 {
    width: 0.01px;
    margin-top: 17px;
}

#u1263 {
    z-index: 55;
    width: 115px;
    background-color: #DCDCDC;
    border-radius: 70px;
    position: relative;
    margin-right: -10000px;
}

#u1265-7 {
    z-index: 57;
    width: 136px;
    min-height: 15px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 40px;
    left: 127px;
}

#pu921-13 {
    width: 0.01px;
    margin-left: 10px;
    margin-top: 26px;
}

#u921-13 {
    z-index: 24;
    width: 61px;
    background-color: transparent;
    text-align: right;
    line-height: 20px;
    position: relative;
    margin-right: -10000px;
}

#u920-18 {
    z-index: 37;
    width: 175px;
    background-color: transparent;
    line-height: 20px;
    position: relative;
    margin-right: -10000px;
    left: 69px;
}

#u878 {
    z-index: 64;
    width: 100%;
    background-color: transparent;
    position: relative;
}

#u879-8 {
    z-index: 65;
    width: calc(100% - 10px) !important;
    min-height: 86px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif");
    border-color: #FFFFFF;
    background-color: #DEDEDE;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #999999;
    text-align: center;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
}

    #u879-8:hover {
        -webkit-transition-duration: 0.5s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.5s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-color: #A4CC29;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 86px;
        width: calc(100% - 10px);
        margin: 0px;
    }

        #u879-8:hover p {
            color: #000000;
            visibility: inherit;
        }

#u880 {
    z-index: 73;
    /*width: 397px;*/
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    position: relative;
    padding: 10px 35px 35.327115480339216px 357px;
}

#pu1945 {
    width: 0.01px;
}

#u1945 {
    z-index: 103;
    width: 166px;
    height: 166px;
    border-color: #000000;
    background-color: #A4CC29;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    border-radius: 100px;
    position: relative;
    margin-right: -10000px;
}

#u1956 {
    z-index: 104;
    width: 205px;
    height: 206px;
    border-color: #000000;
    background-color: #A4CC29;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    border-radius: 100px;
    position: relative;
    margin-right: -10000px;
    margin-top: 85px;
    left: 151px;
}

#u1946-5 {
    z-index: 106;
    width: 109px;
    min-height: 42px;
    background-color: transparent;
    color: #000000;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 39px;
    left: 33px;
}

#u1953-5 {
    z-index: 111;
    width: 140px;
    min-height: 126px;
    background-color: transparent;
    color: #000000;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    margin-left: 192px;
    top: -166px;
    margin-bottom: -126px;
    position: relative;
}

#pu1962 {
    width: 0.01px;
    margin-left: 38px;
    margin-top: -34px;
}

#u1962 {
    z-index: 105;
    width: 161px;
    height: 162px;
    border-color: #000000;
    background-color: #A4CC29;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    border-radius: 100px;
    position: relative;
    margin-right: -10000px;
}

#u1959-5 {
    z-index: 116;
    width: 114px;
    min-height: 43px;
    background-color: transparent;
    color: #000000;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    position: relative;
    margin-right: -10000px;
    margin-top: 45px;
    left: 26px;
}

#u1965 {
    z-index: 121;
    width: 304px;
    background-color: transparent;
    border-radius: 60px;
    margin-left: 30px;
    margin-top: 23px;
    position: relative;
}

    #u1873 .clip_frame, #u1965 .clip_frame {
        -webkit-border-radius: 60px 60px 60px 60px;
    }

#u2010 {
    z-index: 123;
    width: 115px;
    background-color: #DCDCDC;
    border-radius: 70px;
    position: relative;
    margin-right: -10000px;
}

    #u1263 .clip_frame, #u2010 .clip_frame {
        -webkit-border-radius: 70px 70px 70px 70px;
    }

#u2012-7 {
    z-index: 125;
    width: 136px;
    min-height: 15px;
    background-color: transparent;
    position: relative;
    margin-right: -10000px;
    margin-top: 40px;
    left: 127px;
}

#u1265-2, #u2012-2 {
    line-height: 20px;
}

#u1265-5, #u2012-5 {
    font-size: 10px;
    line-height: 14px;
    color: #000000;
    font-family: open-sans, sans-serif;
    font-weight: 600;
}

#pu2010, #pu2082 {
    width: 0.01px;
    margin-top: 10px;
}

#u2082 {
    z-index: 143;
    width: 115px;
    background-color: transparent;
    border-radius: 400px;
    position: relative;
    margin-right: -10000px;
}

    #u2082 .clip_frame {
        -webkit-border-radius: 400px 400px 400px 400px;
    }

#u2082_img {
    margin-bottom: -9px;
}

#pu2079-4 {
    width: 0.01px;
    margin-right: -10000px;
    margin-top: 47px;
    margin-left: 127px;
}

#u2079-4 {
    z-index: 132;
    width: 238px;
    min-height: 15px;
    background-color: transparent;
    line-height: 20px;
    position: relative;
}

#u2155-7 {
    z-index: 136;
    width: 270px;
    min-height: 324px;
    background-color: transparent;
    line-height: 20px;
    margin-top: 7px;
    position: relative;
}

#pu1886-12 {
    width: 0.01px;
    margin-left: 49px;
    margin-top: 21px;
}

#u1886-12 {
    z-index: 74;
    width: 61px;
    background-color: transparent;
    text-align: right;
    line-height: 20px;
    position: relative;
    margin-right: -10000px;
}

#u921-2, #u921-11, #u1886-10 {
    color: #000000;
    font-family: open-sans, sans-serif;
    font-weight: 300;
}

#u1887-17 {
    z-index: 86;
    width: 227px;
    background-color: transparent;
    line-height: 20px;
    position: relative;
    margin-right: -10000px;
    left: 78px;
}

#u2224 {
    z-index: 145;
    width: 100%;
    background-color: transparent;
    position: relative;
}

#u2243-4 {
    z-index: 146;
    width: calc(100% - 10px) !important;
    min-height: 86px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif");
    border-color: #FFFFFF;
    background-color: #DEDEDE;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #999999;
    text-align: center;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
}

    #u2243-4:hover {
        -webkit-transition-duration: 0.5s;
        -webkit-transition-delay: 0s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.5s;
        transition-delay: 0s;
        transition-timing-function: ease;
        background-color: #A4CC29;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 86px;
        width: calc(100% - 10px);
        margin: 0px;
    }

    #u879-8.AccordionPanelTabOpen, #u2243-4.AccordionPanelTabOpen {
        -webkit-transition-duration: 0s;
        -webkit-transition-delay: 0s;
        transition-duration: 0s;
        transition-delay: 0s;
        background-color: #A4CC29;
        border-radius: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 86px;
        width: 881px;
        margin: 0px;
    }

    #u2243-4:hover p {
        color: #000000;
        visibility: inherit;
    }

    #u885-12.AccordionPanelTabOpen p, #u879-8.AccordionPanelTabOpen p, #u2243-4.AccordionPanelTabOpen p {
        color: #FFFFFF;
        visibility: inherit;
        line-height: 1.2;
        font-size: 24px;
    }

#u885-2, #u885-4, #u885-6, #u885-8, #u885-10, #u879-2, #u879-4, #u879-6, #u2243-2 {
    padding-right: 12px;
}

#u2225 {
    z-index: 150;
    /*width: 889px;*/
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    padding-bottom: 44px;
    position: relative;
}

#u2273-5 {
    z-index: 151;
    width: 340px;
    min-height: 15px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #000000;
    line-height: 22px;
    font-size: 16px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
    margin-right: -10000px;
    margin-top: 34px;
    /*left: 457px;*/
}

.AccordionPanelTab /* accordion */ {
    cursor: pointer;
}

#u783 {
    z-index: 170;
    width: 895px;
    height: 36px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#u780 {
    z-index: 157;
    height: 36px;
    position: fixed;
    bottom: 0px;
}

#u780-bw {
    z-index: 157;
}

#buttonu784 {
    z-index: 171;
    width: 72px;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

    #buttonu784:hover {
        width: 72px;
        min-height: 0px;
        margin: 0px;
    }

    #buttonu784.ButtonSelected {
        width: 72px;
        min-height: 0px;
        margin: 0px;
    }

#u785-4 {
    z-index: 172;
    width: 54px;
    min-height: 12px;
    position: relative;
    margin-right: -10000px;
    margin-top: 11px;
    left: 9px;
}

#buttonu784:hover #u785-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 54px;
    margin: 11px -10000px 0px 0px;
}

#buttonu786 {
    z-index: 176;
    width: 74px;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0px;
    left: 74px;
}

    #buttonu786:hover {
        width: 74px;
        min-height: 0px;
        margin: 0px;
    }

#u787-4 {
    z-index: 177;
    width: 54px;
    min-height: 12px;
    position: relative;
    margin-right: -10000px;
    margin-top: 11px;
    left: 10px;
}

#buttonu784.ButtonSelected #u785-4, #buttonu786:hover #u787-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 54px;
    margin: 11px -10000px 0px 0px;
}

#buttonu786.ButtonSelected #u787-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 54px;
    margin: 11px -10000px 0px 0px;
}

#buttonu788 {
    z-index: 181;
    width: 116px;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0px;
    left: 150px;
}

    #buttonu788:hover {
        width: 116px;
        min-height: 0px;
        margin: 0px;
    }

    #buttonu788.ButtonSelected {
        width: 116px;
        min-height: 0px;
        margin: 0px;
    }

#u789-4 {
    z-index: 182;
    width: 100px;
    min-height: 12px;
    position: relative;
    margin-right: -10000px;
    margin-top: 11px;
    left: 8px;
}

#buttonu788:hover #u789-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 100px;
    margin: 11px -10000px 0px 0px;
}

#buttonu788.ButtonSelected #u789-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 100px;
    margin: 11px -10000px 0px 0px;
}

#buttonu790 {
    z-index: 186;
    width: 74px;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0px;
    left: 495px;
}

    #buttonu786.ButtonSelected, #buttonu790:hover {
        width: 74px;
        min-height: 0px;
        margin: 0px;
    }

    #buttonu790.ButtonSelected {
        width: 74px;
        min-height: 0px;
        margin: 0px;
    }

#u791-4 {
    z-index: 187;
    width: 57px;
    min-height: 12px;
    position: relative;
    margin-right: -10000px;
    margin-top: 11px;
    left: 9px;
}

#buttonu790:hover #u791-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 57px;
    margin: 11px -10000px 0px 0px;
}

#buttonu790.ButtonSelected #u791-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 57px;
    margin: 11px -10000px 0px 0px;
}

#buttonu792 {
    z-index: 191;
    width: 127px;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0px;
    left: 267px;
}

    #buttonu792:hover {
        width: 127px;
        min-height: 0px;
        margin: 0px;
    }

    #buttonu792.ButtonSelected {
        width: 127px;
        min-height: 0px;
        margin: 0px;
    }

#u793-4 {
    z-index: 192;
    width: 111px;
    min-height: 12px;
    position: relative;
    margin-right: -10000px;
    margin-top: 11px;
    left: 8px;
}

#buttonu792:hover #u793-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 111px;
    margin: 11px -10000px 0px 0px;
}

#buttonu792.ButtonSelected #u793-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 111px;
    margin: 11px -10000px 0px 0px;
}

#buttonu794 {
    z-index: 196;
    width: 97px;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0px;
    left: 396px;
}

    #buttonu794:hover {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

    #buttonu794.ButtonSelected {
        width: 97px;
        min-height: 0px;
        margin: 0px;
    }

#u795-4 {
    z-index: 197;
    width: 78px;
    min-height: 12px;
    position: relative;
    margin-right: -10000px;
    margin-top: 11px;
    left: 9px;
}

#buttonu794:hover #u795-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 78px;
    margin: 11px -10000px 0px 0px;
}

#buttonu794.ButtonSelected #u795-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 78px;
    margin: 11px -10000px 0px 0px;
}

#buttonu796 {
    z-index: 201;
    width: 151px;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0px;
    left: 571px;
}

    #buttonu796:hover {
        width: 151px;
        min-height: 0px;
        margin: 0px;
    }

    #buttonu796.ButtonSelected {
        width: 151px;
        min-height: 0px;
        margin: 0px;
    }

#u797-4 {
    z-index: 202;
    width: 130px;
    min-height: 12px;
    position: relative;
    margin-right: -10000px;
    margin-top: 11px;
    left: 10px;
}

#buttonu796:hover #u797-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 130px;
    margin: 11px -10000px 0px 0px;
}

#buttonu796.ButtonSelected #u797-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 130px;
    margin: 11px -10000px 0px 0px;
}

#buttonu797 {
    z-index: 202;
    width: 161px;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0px;
    left: 724px;
}

    #buttonu797:hover {
        width: 161px;
        min-height: 0px;
        margin: 0px;
    }

    #buttonu797.ButtonSelected {
        width: 161px;
        min-height: 0px;
        margin: 0px;
    }

#u798-4 {
    z-index: 202;
    width: 140px;
    min-height: 12px;
    position: relative;
    margin-right: -10000px;
    margin-top: 11px;
    left: 12px;
}

#buttonu797:hover #u798-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 140px;
    margin: 11px -10000px 0px 0px;
}

#buttonu797.ButtonSelected #u798-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 140px;
    margin: 11px -10000px 0px 0px;
}

#buttonu798 {
    z-index: 202;
    width: 141px;
    padding-bottom: 8px;
    position: fixed;
    bottom: 0px;
    left: 887px;
}

    #buttonu798:hover {
        width: 141px;
        min-height: 0px;
        margin: 0px;
    }

    #buttonu798.ButtonSelected {
        width: 141px;
        min-height: 0px;
        margin: 0px;
    }

#u799-4 {
    z-index: 202;
    width: 120px;
    min-height: 12px;
    position: relative;
    margin-right: -10000px;
    margin-top: 11px;
    left: 14px;
}

#buttonu798:hover #u799-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 120px;
    margin: 11px -10000px 0px 0px;
}

#buttonu798.ButtonSelected #u799-4 {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 12px;
    width: 120px;
    margin: 11px -10000px 0px 0px;
}


#u782-6 {
    z-index: 164;
    width: 95px;
    min-height: 36px;
    position: fixed;
    bottom: 0px;
    left: 1040px;
}

#u781-6 {
    z-index: 158;
    width: 290px;
    min-height: 36px;
    position: fixed;
    bottom: 0px;
    right: 16px;
}

.html {
    background: #FFFFFF url("../images/anita_walczak-szkolenia.jpg") no-repeat center top fixed;
    background-size: cover;
}

body {
    position: relative;
    min-width: 960px;
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: transparent !important;
}


.container {
    float: left;
}

.my-collapse-container {
    margin-top: 5%;
}


a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.panel-group .panel {
    border-radius: 0;
}

    .panel-group .panel + .panel {
        margin-top: 0;
    }

.panel-heading > h4 {
    text-align: right;
    font-size: 24px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
    color: #FFFFFF;
    visibility: inherit;
    line-height: 1.2;
}

.panel-group, .panel-default {
    background-color: transparent;
}

    .panel-default > .panel-heading {
        -webkit-transition-duration: 0s;
        -webkit-transition-delay: 0s;
        transition-duration: 0s;
        transition-delay: 0s;
        background-color: rgba(164, 204, 41, 0.9);
        border-radius: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-height: 100px;
        margin: 0px;
        text-align: right;
        font-family: open-sans, sans-serif;
        font-weight: 600;
        position: relative;
        visibility: inherit;
    }

.collapsed > h4 {
    line-height: 20px;
    color: #999999;
    text-align: right;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
}

.panel-default > .collapsed {
    min-height: 100px;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-image: url("../images/blank.gif");
    border-color: #FFFFFF;
    background-color: rgba(222, 222, 222, 0.9);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    color: #999999;
    text-align: right;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    position: relative;
}

.panel-collapse {
    background-color: rgba(255, 255, 255, 0.9);
}

.collapsed:hover > h4 {
    color: black;
}

.myrow {
    padding-left: 40px;
    margin-bottom: 50px;
}

.green-header {
    background-color: rgba(164, 204, 41, 0.9);
    padding: 20px;
}

.sds > div {
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

#ramka {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 430px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 5px solid rgba(240, 80, 47, 1.0);
    padding: 50px;
}

    #ramka > h2 {
        padding: 10px;
    }

.myrow > .embed-responsive {
    margin-top: 10px;
}

.myrow > h2,
.green-header > h2 {
    font-size: 18px;
    font-weight: bold;
}

.collapse {
    font-weight: inherit;
}

.panel-default > .panel-heading:hover {
    -webkit-transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
    background-color: rgba(164, 204, 41, 0.9);
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 100px;
    color: #999999;
    text-align: right;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    font-weight: 600;
    margin: 0px;
    text-decoration: none;
    cursor: pointer;
}

@media(min-width:992px) {

    #u636 {
        left: calc((100vw - 960px)/2);
    }
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


#vhs-list,
#vhs-list > li {
    list-style-type: disc;
}

#vhs-block {
    background: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 100px;
}

    #vhs-block > .row {
        margin-top: 40px;
    }

#vhs-header {
    border: 1px solid #A4CC29;
}

    #vhs-header > div {
        padding: 0;
    }


        #vhs-header > div > h1 {
            text-align: center;
            font-size: 24px;
            text-transform: uppercase;
            padding:10px;
        }

        #vhs-header > div > div {
            background-color: #A4CC29;
            padding: 5px;
        }

            #vhs-header > div > div > h2 {
                color: white;
                text-align: center;
                font-size: 22px;
                text-transform: uppercase;
                font-style: italic;
            }

#vhs-1 > div > p,
#vhs-2 > div > p,
#vhs-3 > div > p {
    font-size: 16px;
    line-height: 1.5;
}

#vhs-2 > div > h1,
#vhs-3 > div > h1 {
    font-size: 18px;
}

#vhs-2 > div > ul {
    font-size: 16px;
    line-height: 1.5;
}

.green-line {
    background-color: #A4CC29;
    height: 2px;
    margin: 10px;
    margin-left: 0px;
}

#cho-header1 {
    text-align: center;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

#cho1 > div > .p1 {
    text-align: center;
    background-color: #e84a0a;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.4;
}

#cho1 > div > .p2 {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
    color: white;
    background-color: #001625;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.4;
}

#cho2 > ul {
    margin: 0.95em 0;
    padding: 0 1.5em;
    list-style: none;
    font-size: 16px;
}

    #cho2 > ul > li:before {
        content: "";
        border-color: transparent #e84a0a;
        border-style: solid;
        border-width: 0.85em 0 0.85em 0.95em;
        display: block;
        height: 0;
        width: 0;
        left: -2em;
        top: 1.40em;
        position: relative;
    }

#cho-header2 {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #001625;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#cho3-foto {
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    border: 15px solid white;
    margin-bottom: 20px;
}

#cho3 > p {
    font-size: 18px;
}

#cho3-p1 {
    padding: 10px;
    background-color: #e84a0a;
    margin-bottom: 0;
    color: white;
    line-height: 1.3;
}

#cho3-p1a {
    margin-bottom: 10px;
    padding: 10px;
    color: #e84a0a;
    background-color: white;
    text-transform: uppercase;
    line-height: 1.2;
}

#cho3-p2 {
    text-align: center;
    background-color: #001625;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.4;
}

#cho3-p3 {
    text-align: left;
    background-color: #001625;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 1.4;
}

#cho3-p4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px;
    background-color: #e84a0a;
    margin-bottom: 0;
    color: white;
}

#vhs-1 > div > img {
    left: 0;
    right: 0;
    margin: auto;
}

#vhs-1a {
    background-color: #A4CC29;
    padding: 20px;
    color: white;
    font-size: 16px;
}

#olimiada {
    text-align: center;
    background-color: white;
    opacity: 1.0;
    padding: 20px;
    margin-top: 20px;
}

    #olimiada > div {
        text-align: center;
        font-size: 18px;
    }

        #olimiada > div > hr,
        #olimiada > div > div > hr {
            height: 1px;
            background-color: #B1D136;
            width: 150px;
        }

        #olimiada > div > h1 {
            border: 1px solid #B1D136;
            font-size: 24px;
            padding: 10px;
        }

        #olimiada > div > p,
        #olimiada > div > div > p {
            margin-top: 8px;
            margin-bottom: 8px;
            line-height: 150%;
        }

            #olimiada > div > p > b,
            #olimiada > div > div > p > b {
                color: #B1D136;
                font-size: 20px;
            }

        #olimiada > div > div > p {
            margin-top: 8px;
            margin-bottom: 8px;
        }

.olimpiada-opis {
    font-size: 14px;
    font-weight: 300;
    color: #3d3d3d;
    font-style: italic;
}

.wyroznij {
    background-color: rgba(164, 204, 41, 0.9);
    color: white;
    padding: 4px;
}

#termin {
    border: 1px solid #B1D136;
    color: #3d3d3d;
    padding-top: 5px;
    padding-bottom: 5px;
}

    #termin > p {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

        #termin > p > i {
            font-size: 16px;
        }

#gbt {
    padding: 10px;
    padding-bottom: 0;
}

    #gbt > div > p,
    #gbt2 > div > p {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #gbt > div > div > p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 120%;
    }

        #gbt > div > div > p > i {
            color: #e72525;
            text-transform: uppercase;
        }

#gbt2 > div {
    border: 4px solid #e72525;
    padding: 12px;
    text-transform: uppercase;
}
