<!DOCTYPE html>
<html lang="pl">
<head>
  <title>
    {{#if title}}
      {{title}}
    {{else}}
      Anita Walczak - Zdrowie i Edukacja
    {{/if}}
  </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{description}}">
  {{#> fb-og-block}}
  {{/fb-og-block}}

  {{#> header-content}}
  {{/header-content}}
  <link rel="publisher" href="https://www.facebook.com/Anita-Walczak-Zdrowie-i-Edukacja-215284275310190/">
  <meta name="robots" content="noodp">

  <meta name="keywords" content="Anita Walczak, stomatologia, higienistka, higienistek, zęby, leczenie, stomatolog, higienizacja, szkolenia, gabinety, podnoszenie, kompetencji, ząb, czyszczenie, wybielanie, kamień, higiena, zespół, uśmiech, warszawa, klinika, pacjent, usługi, stomatologiczna, stomatologicznych, pacjenta, profilaktyka, nauka, akademia, profilaktyki, personel">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114205740-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-114205740-1');
  </script>

  {{> includes/stylesheets
  }}
</head>
<body class="animsition" itemscope itemtype="http://schema.org/LocalBusiness">

  <!-- Header -->
  <header>
    <!-- Header desktop -->
    <div class="wrap-menu-header gradient1 trans-0-4">
      <div class="container h-full">
        <div class="wrap_header trans-0-3">

          <!-- Menu -->
          <div class="wrap_menu p-l-45 p-l-0-xl">
            <nav class="menu">
              <ul class="main_menu">
                <li>
                  <a href="{{relative_path}}/">Start</a>
                </li>
                <li>
                  <a href="{{relative_path}}/o-mnie">O mnie</a>
                </li>
                <li>
                  <a href="{{relative_path}}/#szkolenia" id="goToTrainings">Szkolenia</a>
                </li>
                <li>
                  <a href="{{relative_path}}/referencje">Referencje</a>
                </li>
                <li>
                  <a href="{{relative_path}}/kontakt">Kontakt</a>
                </li>
                <li>
                  <a href="http://paps.org.pl/" target="_blank">PAPS</a>
                </li>
                <li>
                  <span>Blog <i class="fa fa-caret-down fs-16 m-l-2" aria-hidden="true"></i></span>
                  <ul>
                    <li>
                      <a href="http://higienistkastom.blogspot.com/" target="_blank" class="txt19-1">Blog higienistka stomatologiczna</a>
                    </li>
                    <li>
                      <a href="http://higienistkaspecjalistka.pl/" target="_blank" class="txt19-1">Blog pacjenci</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>

          <!-- Social -->
          <div class="social flex-w flex-l-m p-r-20">
            <a href="https://www.facebook.com/Anita-Walczak-Zdrowie-i-Edukacja-215284275310190/" title="Facebook" alt="Facebook"><i class="fa fa-facebook m-l-21" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCgjofL7u3ltuRkZIINgwiOQ/" title="YouTube" alt="YouTube"><i class="fa fa-youtube-play m-l-21" aria-hidden="true"></i></a>
            <button class="btn-show-sidebar m-l-33 trans-0-4"></button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Sidebar -->
  <aside class="sidebar trans-0-4">
    <!-- Button Hide sidebar -->
    <button class="btn-hide-sidebar ti-close color0-hov trans-0-4" data-dismiss="sidebar"></button>

    <!-- - -->
    <ul class="menu-sidebar p-t-95 p-b-70">
      <li class="t-center m-b-13">
        <a href="{{relative_path}}/" class="txt19">Start</a>
      </li>

      <li class="t-center m-b-13">
        <a href="{{relative_path}}/o-mnie" class="txt19">O mnie</a>
      </li>

      <li class="t-center m-b-13">
        <a href="{{relative_path}}/#szkolenia" class="txt19" data-dismiss="sidebar">Szkolenia</a>
      </li>

      <li class="t-center m-b-13">
        <a href="{{relative_path}}/referencje" class="txt19">Referencje</a>
      </li>

      <li class="t-center m-b-13">
        <a href="{{relative_path}}/kontakt" class="txt19">Kontakt</a>
      </li>

      <li class="t-center m-b-13">
        <a href="http://paps.org.pl" target="_blank" class="txt19">Paps</a>
      </li>

      <li class="t-center m-b-13">
        <a href="http://higienistkastom.blogspot.com/" target="_blank" class="txt19">Blog higienistka stomatologiczna</a>
      </li>

      <li class="t-center m-b-13">
        <a href="http://higienistkaspecjalistka.pl/" target="_blank" class="txt19">Blog pacjenci</a>
      </li>
    </ul>

  </aside>

  {{#> content-block}}
  {{/content-block}}

  <!-- Footer -->
  <footer class="bg1">
    <div class="container p-t-40 p-b-70">
      <div class="row">
        <div class="col-sm-6 col-md-4 p-t-50">
          <!-- - -->
          <h4 class="txt13 m-b-33">
            Kontakt
          </h4>

          <ul class="m-b-70">
            <li class="txt14 m-b-14">
              <img src="{{relative_path}}/images/logo.svg" alt="Anita Walczak Adent" title="Anita Walczak Adent" class="size28" itemprop="image"/>
            </li>
            <li class="txt14 m-b-14">
              <i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
              <span itemprop="name">Anita Walczak Adent</span>
              <br/>
              <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">Al. gen. Władysława Sikorskiego 9B/2C</span>
                <br/>
                <span itemprop="postalCode">02-758</span> <span itemprop="addressLocality">Warszawa</span>
              </span>
            </li>

            <li class="txt14 m-b-14">
              <i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
              <a href="tel:48783821842">
                <span itemprop="telephone">
                  48 783 821 842
                </span>
              </a>
            </li>

            <li class="txt14 m-b-14">
              <i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
              <a href="mailto:praca@anitawalczak.pl">
                <span itemprop="email">praca@anitawalczak.pl</span>
              </a>
            </li>

            <li class="txt14 m-b-14">
              <i class="fa fa-globe fs-13 dis-inline-block size19" aria-hidden="true"></i>
              <a href="http://anitawalczak.pl">
                <span itemprop="url">anitawalczak.pl</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-4 p-t-50">
          <!-- - -->
          <h4 class="txt13 m-b-33">
            &nbsp;
          </h4>

          <ul class="m-b-70">
            <li class="txt14 m-b-14">
              <i class="fa fa-university fs-16 dis-inline-block size19" aria-hidden="true"></i>
              Nr rachunku bankowego<br/>21 1020 1068 0000 1502 0324 8465
            </li>

            <li class="txt14 m-b-14">
              <i class="fa fa-asterisk fs-16 dis-inline-block size19" aria-hidden="true"></i>
              NIP - 7972017397
            </li>
            <li class="txt14 m-b-14">
              <i class="fa fa-asterisk fs-16 dis-inline-block size19" aria-hidden="true"></i>
              REGON - 146203951
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="end-footer bg2">
      <div class="container">
        <div class="flex-sb-m flex-w p-t-22 p-b-22">
          <div class="p-t-5 p-b-5">
            <a href="https://www.facebook.com/Anita-Walczak-Zdrowie-i-Edukacja-215284275310190/" class="fs-15 c-white" title="Facebook" alt="Facebook"><i class="fa fa-facebook m-l-18" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCgjofL7u3ltuRkZIINgwiOQ/" class="fs-15 c-white" title="YouTube" alt="YouTube"><i class="fa fa-youtube-play m-l-18" aria-hidden="true"></i></a>
          </div>

          <div class="txt17 p-r-20 p-t-5 p-b-5">
            Copyright &copy; 2018 Anita Walczak  |  This template is made with <i class="fa fa-heart"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </div>
        </div>
      </div>
    </div>
  </footer>

  {{#> addons-block}}
  {{/addons-block}}

  <!-- Back to top -->
  <div class="btn-back-to-top bg0-hov" id="myBtn">
    <span class="symbol-btn-back-to-top">
      <i class="fa fa-angle-double-up" aria-hidden="true"></i>
    </span>
  </div>

  <!-- Container Selection1 -->
  <div id="dropDownSelect1"></div>

  <script type="text/javascript" src="{{relative_path}}/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/animsition/js/animsition.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/bootstrap/js/popper.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/select2/select2.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/daterangepicker/moment.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/daterangepicker/daterangepicker.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/slick/slick.js"></script>
  <script type="text/javascript" src="{{relative_path}}/js/slick-custom.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/parallax100/parallax100.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/countdowntime/countdowntime.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/lightbox2/js/lightbox.js"></script>
  <script type="text/javascript" src="{{relative_path}}/vendor/isotope/isotope.pkgd.min.js"></script>
  <script src="{{relative_path}}/js/main.js"></script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "http://anitawalczak.pl/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "http://anitawalczak.pl/szukaj/{search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "url": "http://anitawalczak.pl",
    "logo": "http://anitawalczak.pl/images/logo.svg",
    "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "+48-783821842",
      "contactType": "reservations",
      "availableLanguage": ["Polish", "English"]
    }],
    "sameAs": [
      "https://www.facebook.com/Anita-Walczak-Zdrowie-i-Edukacja-215284275310190/",
      "https://www.youtube.com/channel/UCgjofL7u3ltuRkZIINgwiOQ/"
    ]
  }
  </script>
  {{#> scripts-block}}
  {{/scripts-block}}

</body>
</html>
