.version.blog /* version checker */
{
	color: #000015;
	background-color: #EB3C2D;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1415px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 32px;
	margin-left: auto;
	margin-right: auto;
}

#pu128
{
	width: 0.01px;
	padding-bottom: 572px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u128
{
	z-index: 3;
	height: 9px;
	position: fixed;
	top: 0px;
}

#u128-bw
{
	z-index: 3;
}

#u780
{
	z-index: 4;
	height: 36px;
	position: fixed;
	bottom: 0px;
}

#u780-bw
{
	z-index: 4;
}

#u781-6
{
	z-index: 5;
	width: 290px;
	min-height: 36px;
	position: fixed;
	bottom: 0px;
	right: 16px;
}

#buttonu797
{
	z-index: 202;
	width: 161px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 724px;
}

#buttonu797:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#buttonu797.ButtonSelected
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u798-4
{
	z-index: 202;
	width: 140px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#buttonu797:hover #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 140px;
	margin: 11px -10000px 0px 0px;
}

#buttonu797.ButtonSelected #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 140px;
	margin: 11px -10000px 0px 0px;
}

#buttonu798
{
	z-index: 202;
	width: 141px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 887px;
}

#buttonu798:hover
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#buttonu798.ButtonSelected
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u799-4
{
	z-index: 202;
	width: 120px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
}

#buttonu798:hover #u799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 120px;
	margin: 11px -10000px 0px 0px;
}

#buttonu798.ButtonSelected #u799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 120px;
	margin: 11px -10000px 0px 0px;
}

#u782-6
{
	z-index: 11;
	width: 95px;
	min-height: 36px;
	position: fixed;
	bottom: 0px;
	left: 1040px;
}

#u783
{
	z-index: 17;
	width: 1000px;
	height: 36px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#buttonu784
{
	z-index: 18;
	width: 72px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#buttonu784:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#buttonu784.ButtonSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u785-4
{
	z-index: 19;
	width: 54px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu784:hover #u785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu786
{
	z-index: 23;
	width: 74px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 74px;
}

#buttonu786:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u787-4
{
	z-index: 24;
	width: 54px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#buttonu784.ButtonSelected #u785-4,#buttonu786:hover #u787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu786.ButtonSelected #u787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu788
{
	z-index: 28;
	width: 116px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 150px;
}

#buttonu788:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#buttonu788.ButtonSelected
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u789-4
{
	z-index: 29;
	width: 100px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#buttonu788:hover #u789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100px;
	margin: 11px -10000px 0px 0px;
}

#buttonu788.ButtonSelected #u789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100px;
	margin: 11px -10000px 0px 0px;
}

#buttonu790
{
	z-index: 33;
	width: 74px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 267px;
}

#buttonu786.ButtonSelected,#buttonu790:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#buttonu790.ButtonSelected
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u791-4
{
	z-index: 34;
	width: 57px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu790:hover #u791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 11px -10000px 0px 0px;
}

#buttonu790.ButtonSelected #u791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 11px -10000px 0px 0px;
}

#buttonu792
{
	z-index: 38;
	width: 127px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 343px;
}

#buttonu792:hover
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#buttonu792.ButtonSelected
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u793-4
{
	z-index: 39;
	width: 111px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#buttonu792:hover #u793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 111px;
	margin: 11px -10000px 0px 0px;
}

#buttonu792.ButtonSelected #u793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 111px;
	margin: 11px -10000px 0px 0px;
}

#buttonu794
{
	z-index: 43;
	width: 97px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 472px;
}

#buttonu794:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#buttonu794.ButtonSelected
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u795-4
{
	z-index: 44;
	width: 78px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu794:hover #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 11px -10000px 0px 0px;
}

#buttonu794.ButtonSelected #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 11px -10000px 0px 0px;
}

#buttonu796
{
	z-index: 201;
	width: 151px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 571px;
}

#buttonu796:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#buttonu796.ButtonSelected
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u797-4
{
	z-index: 202;
	width: 130px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#buttonu796:hover #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 130px;
	margin: 11px -10000px 0px 0px;
}

#buttonu796.ButtonSelected #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 130px;
	margin: 11px -10000px 0px 0px;
}

#u1360
{
	z-index: 2;
	min-height: 1443px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1360-bw
{
	z-index: 2;
	min-height: 1443px;
	margin-top: -28px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}


