.Srodtytol_16,.TXT_Bold_14,.Link_O_Mnie_10
{
	font-family: open-sans-n6, sans-serif;
}

.Babel_Bold
{
	font-family: open-sans-n7, sans-serif;
}

.TXT_14,.Babel_Regular
{
	font-family: open-sans-n3, sans-serif;
}

#u785-4
{
	font-family: questrial-n4, sans-serif;
}

#u787-4
{
	font-family: questrial-n4, sans-serif;
}

#u789-4
{
	font-family: questrial-n4, sans-serif;
}

#u791-4
{
	font-family: questrial-n4, sans-serif;
}

#u793-4
{
	font-family: questrial-n4, sans-serif;
}

#u795-4
{
	font-family: questrial-n4, sans-serif;
}

#u797-4
{
	font-family: questrial-n4, sans-serif;
}


#u1452-2,#u1223-2,#u1225-2,#u1227-2,#u1228-2,#u1343-2,#u1437-2,#u1543-2
{
	font-family: open-sans-n6, sans-serif;
}

#u1453-25,#u1452-4,#u1452-6,#u1149-8,#u1223-4,#u1223-6,#u1148-19,#u1225-4,#u1225-6,#u607-6,#u1227-4,#u1158-13,#u1228-4,#u1344-14,#u1343-4,#u1433-9,#u1437-4,#u1544-14,#u1543-6
{
	font-family: open-sans-n3, sans-serif;
}

