/*

*/

.version.praca /* version checker */
{
	color: #000011;
	background-color: #BD7611;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 480px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

#pu636
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: -598px;
}

#u636
{
	z-index: 2;
	width: 382px;
	margin-left: 618px;
	position: relative;
}

#u1812
{
	z-index: 5;
	width: 282px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u632
{
	z-index: 6;
}

#u1818
{
	z-index: 3;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	left: 293px;
}

#u630
{
	z-index: 4;
}

#pu1358
{
	width: 0.01px;
	margin-top: 64px;
}

#u1358
{
	z-index: 7;
	width: 996px;
	height: 437px;
	border-color: #000000;
	background-color: #E6E4E5;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
}

#u1357-50
{
	z-index: 8;
	width: 346px;
	min-height: 192px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 618px;
}

#u1357,#u1357-6,#u1357-11,#u1357-19,#u1357-24,#u1357-29
{
	font-size: 10px;
	color: #6E712D;
	line-height: 12px;
}

#u1357-2,#u1357-7,#u1357-12,#u1357-20,#u1357-25,#u1357-30
{
	font-size: 11px;
	color: #6E712D;
	line-height: 13px;
}

#u1357-3,#u1357-8,#u1357-16,#u1357-21,#u1357-26,#u1357-34
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 17px;
}

#u1357-5,#u1357-10,#u1357-18,#u1357-23,#u1357-28,#u1357-36
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u1357-38,#u1357-40
{
	color: #6E712D;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u1357-4,#u1357-9,#u1357-17,#u1357-22,#u1357-27,#u1357-35,#u1357-43
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1357-41
{
	font-size: 32px;
	line-height: 38px;
}

#u1357-44,#u1357-48
{
	font-size: 12px;
	line-height: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u1357-45
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#pu128
{
	width: 0.01px;
	padding-bottom: 572px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u128
{
	z-index: 58;
	height: 9px;
	position: fixed;
	top: 0px;
}

#u128-bw
{
	z-index: 58;
}

#u780
{
	z-index: 59;
	height: 36px;
	position: fixed;
	bottom: 0px;
}

#u780-bw
{
	z-index: 59;
}

#u783
{
	z-index: 72;
	width: 1000px;
	height: 36px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#buttonu784
{
	z-index: 73;
	width: 72px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#buttonu784:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#buttonu784.ButtonSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u785-4
{
	z-index: 74;
	width: 54px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu784:hover #u785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu786
{
	z-index: 78;
	width: 74px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 74px;
}

#buttonu786:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u787-4
{
	z-index: 79;
	width: 54px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#buttonu784.ButtonSelected #u785-4,#buttonu786:hover #u787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu786.ButtonSelected #u787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu788
{
	z-index: 83;
	width: 116px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 150px;
}

#buttonu788:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#buttonu788.ButtonSelected
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u789-4
{
	z-index: 84;
	width: 100px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#buttonu788:hover #u789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100px;
	margin: 11px -10000px 0px 0px;
}

#buttonu788.ButtonSelected #u789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100px;
	margin: 11px -10000px 0px 0px;
}

#buttonu790
{
	z-index: 88;
	width: 74px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 267px;
}

#buttonu786.ButtonSelected,#buttonu790:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#buttonu790.ButtonSelected
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u791-4
{
	z-index: 89;
	width: 57px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu790:hover #u791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 11px -10000px 0px 0px;
}

#buttonu790.ButtonSelected #u791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 11px -10000px 0px 0px;
}

#buttonu792
{
	z-index: 93;
	width: 127px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 343px;
}

#buttonu792:hover
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#buttonu792.ButtonSelected
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u793-4
{
	z-index: 94;
	width: 111px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#buttonu792:hover #u793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 111px;
	margin: 11px -10000px 0px 0px;
}

#buttonu792.ButtonSelected #u793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 111px;
	margin: 11px -10000px 0px 0px;
}

#buttonu794
{
	z-index: 98;
	width: 97px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 472px;
}

#buttonu794:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#buttonu794.ButtonSelected
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u795-4
{
	z-index: 99;
	width: 78px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu794:hover #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 11px -10000px 0px 0px;
}

#buttonu794.ButtonSelected #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 11px -10000px 0px 0px;
}

#buttonu796
{
	z-index: 201;
	width: 151px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 571px;
}

#buttonu796:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#buttonu796.ButtonSelected
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u797-4
{
	z-index: 202;
	width: 130px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#buttonu796:hover #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 130px;
	margin: 11px -10000px 0px 0px;
}

#buttonu796.ButtonSelected #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 130px;
	margin: 11px -10000px 0px 0px;
}

#buttonu797
{
	z-index: 203;
	width: 161px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 724px;
}

#buttonu797:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#buttonu797.ButtonSelected
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u798-4
{
	z-index: 202;
	width: 140px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#buttonu797:hover #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 140px;
	margin: 11px -10000px 0px 0px;
}

#buttonu797.ButtonSelected #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 140px;
	margin: 11px -10000px 0px 0px;
}

#buttonu798
{
	z-index: 202;
	width: 141px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 887px;
}

#buttonu798:hover
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#buttonu798.ButtonSelected
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u799-4
{
	z-index: 202;
	width: 120px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
}

#buttonu798:hover #u799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 120px;
	margin: 11px -10000px 0px 0px;
}

#buttonu798.ButtonSelected #u799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 120px;
	margin: 11px -10000px 0px 0px;
}

#u782-6
{
	z-index: 66;
	width: 95px;
	min-height: 36px;
	position: fixed;
	bottom: 0px;
	left: 1040px;
}

#u781-6
{
	z-index: 60;
	width: 290px;
	min-height: 36px;
	position: fixed;
	bottom: 0px;
	right: 16px;
}

.html
{
	background: #FFFFFF url("../images/anita_walczak-praca.jpg") no-repeat center top fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}


