.version.referencje /* version checker */
{
	color: #0000EB;
	background-color: #195B26;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 20px;
	width: 0.01px;/* should not cover content below */
}

#u128
{
	z-index: 195;
	height: 9px;
	position: fixed;
	top: 0px;
}

#u128-bw
{
	z-index: 195;
}

#u636
{
	z-index: 2;
	width: 382px;
	margin-left: 20px;
	position: relative;
}

#u1812
{
	z-index: 5;
	width: 282px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u632
{
	z-index: 6;
}

#u1818
{
	z-index: 3;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	left: 293px;
}

#u630
{
	z-index: 4;
}

#pu1448
{
	width: 0.01px;
	margin-left: -707px;
	margin-top: 42px;
}

#u1448
{
	z-index: 8;
	width: 1092px;
	height: 419px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u1453-25
{
	z-index: 98;
	width: 207px;
	min-height: 242px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 864px;
}

#u1452-8
{
	z-index: 131;
	width: 120px;
	min-height: 115px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 735px;
}

#u1449
{
	z-index: 181;
	width: 120px;
	background-color: transparent;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 723px;
}

#pu780
{
	width: 0.01px;
	padding-bottom: 36px;
	margin-left: -100px;
	margin-top: -67px;
}

#u780
{
	z-index: 196;
	height: 36px;
	position: fixed;
	bottom: 0px;
}

#u780-bw
{
	z-index: 196;
}

#u781-6
{
	z-index: 197;
	width: 290px;
	min-height: 36px;
	position: fixed;
	bottom: 0px;
	right: 16px;
}

#buttonu797
{
	z-index: 202;
	width: 161px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 724px;
}

#buttonu797:hover
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#buttonu797.ButtonSelected
{
	width: 161px;
	min-height: 0px;
	margin: 0px;
}

#u798-4
{
	z-index: 202;
	width: 140px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#buttonu797:hover #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 140px;
	margin: 11px -10000px 0px 0px;
}

#buttonu797.ButtonSelected #u798-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 140px;
	margin: 11px -10000px 0px 0px;
}

#buttonu798
{
	z-index: 202;
	width: 141px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 887px;
}

#buttonu798:hover
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#buttonu798.ButtonSelected
{
	width: 141px;
	min-height: 0px;
	margin: 0px;
}

#u799-4
{
	z-index: 202;
	width: 120px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 14px;
}

#buttonu798:hover #u799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 120px;
	margin: 11px -10000px 0px 0px;
}

#buttonu798.ButtonSelected #u799-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 120px;
	margin: 11px -10000px 0px 0px;
}

#u782-6
{
	z-index: 203;
	width: 95px;
	min-height: 36px;
	position: fixed;
	bottom: 0px;
	left: 1040px;
}

#u783
{
	z-index: 201;
	width: 1000px;
	height: 36px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#buttonu784
{
	z-index: 210;
	width: 72px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#buttonu784:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#buttonu784.ButtonSelected
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u785-4
{
	z-index: 211;
	width: 54px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu784:hover #u785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu786
{
	z-index: 215;
	width: 74px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 74px;
}

#buttonu786:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u787-4
{
	z-index: 216;
	width: 54px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#buttonu784.ButtonSelected #u785-4,#buttonu786:hover #u787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu786.ButtonSelected #u787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 54px;
	margin: 11px -10000px 0px 0px;
}

#buttonu788
{
	z-index: 220;
	width: 116px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 150px;
}

#buttonu788:hover
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#buttonu788.ButtonSelected
{
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u789-4
{
	z-index: 221;
	width: 100px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#buttonu788:hover #u789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100px;
	margin: 11px -10000px 0px 0px;
}

#buttonu788.ButtonSelected #u789-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 100px;
	margin: 11px -10000px 0px 0px;
}

#buttonu790
{
	z-index: 225;
	width: 74px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 267px;
}

#buttonu786.ButtonSelected,#buttonu790:hover
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#buttonu790.ButtonSelected
{
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u791-4
{
	z-index: 226;
	width: 57px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu790:hover #u791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 11px -10000px 0px 0px;
}

#buttonu790.ButtonSelected #u791-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 57px;
	margin: 11px -10000px 0px 0px;
}

#buttonu792
{
	z-index: 230;
	width: 127px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 343px;
}

#buttonu792:hover
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#buttonu792.ButtonSelected
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u793-4
{
	z-index: 231;
	width: 111px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#buttonu792:hover #u793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 111px;
	margin: 11px -10000px 0px 0px;
}

#buttonu792.ButtonSelected #u793-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 111px;
	margin: 11px -10000px 0px 0px;
}

#buttonu794
{
	z-index: 235;
	width: 97px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 472px;
}

#buttonu794:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#buttonu794.ButtonSelected
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u795-4
{
	z-index: 236;
	width: 78px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 9px;
}

#buttonu794:hover #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 11px -10000px 0px 0px;
}

#buttonu794.ButtonSelected #u795-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 78px;
	margin: 11px -10000px 0px 0px;
}

#buttonu796
{
	z-index: 201;
	width: 151px;
	padding-bottom: 8px;
	position: fixed;
	bottom: 0px;
	left: 571px;
}

#buttonu796:hover
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#buttonu796.ButtonSelected
{
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u797-4
{
	z-index: 202;
	width: 130px;
	min-height: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#buttonu796:hover #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 130px;
	margin: 11px -10000px 0px 0px;
}

#buttonu796.ButtonSelected #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 130px;
	margin: 11px -10000px 0px 0px;
}

#u1097
{
	z-index: 7;
	width: 1092px;
	height: 354px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u1149-8
{
	z-index: 90;
	width: 207px;
	min-height: 242px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 864px;
}

#u1223-8
{
	z-index: 123;
	width: 120px;
	min-height: 115px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 735px;
}

#u1151
{
	z-index: 179;
	width: 120px;
	background-color: transparent;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 723px;
}

#u618
{
	z-index: 14;
	width: 1092px;
	height: 267px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	position: relative;
	margin-right: -10000px;
}

#u1148-19
{
	z-index: 71;
	width: 207px;
	min-height: 242px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 864px;
}

#u1225-8
{
	z-index: 139;
	width: 120px;
	min-height: 115px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 735px;
}

#u870
{
	z-index: 185;
	width: 120px;
	background-color: transparent;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 723px;
}

#u1154
{
	z-index: 9;
	width: 1092px;
	height: 268px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
}

#u607-6
{
	z-index: 15;
	width: 207px;
	min-height: 242px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 864px;
}

#u1227-6
{
	z-index: 147;
	width: 120px;
	min-height: 47px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 735px;
}

#u867
{
	z-index: 183;
	width: 120px;
	background-color: transparent;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 723px;
}

#pu1159
{
	width: 0.01px;
	margin-left: -707px;
	margin-top: 23px;
}

#u1159
{
	z-index: 10;
	width: 1092px;
	height: 252px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
}

#u1158-13
{
	z-index: 21;
	width: 207px;
	min-height: 208px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 864px;
}

#u1228-6
{
	z-index: 153;
	width: 120px;
	min-height: 47px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 735px;
}

#u1330
{
	z-index: 187;
	width: 120px;
	background-color: transparent;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 723px;
}

#u1339
{
	z-index: 11;
	width: 1092px;
	height: 252px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
}

#u1344-14
{
	z-index: 34;
	width: 207px;
	min-height: 208px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 864px;
}

#u1158-10,#u1344-8
{
	color: #000000;
}

#u1343-6
{
	z-index: 159;
	width: 120px;
	min-height: 47px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 735px;
}

#u1340
{
	z-index: 189;
	width: 120px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 723px;
}

#u1340::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 60px;
	box-shadow: inset 0px 0px 35px rgba(127,127,127,0.25), inset 0px 0px 35px rgba(127,127,127,0.25);
}

#u1432
{
	z-index: 12;
	width: 1092px;
	height: 390px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
}

#u1433-9
{
	z-index: 48;
	width: 207px;
	min-height: 208px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 864px;
}

#u1437-6
{
	z-index: 165;
	width: 120px;
	min-height: 47px;
	background-color: transparent;
	color: #000000;
	text-align: left;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 735px;
}

#u1452-4,#u1223-4,#u1223-6,#u1225-4,#u1437-4
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u1434
{
	z-index: 191;
	width: 120px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 723px;
}

#pu1097,#pu618,#pu1154,#pu1339,#pu1432,#pu1542
{
	width: 0.01px;
	margin-left: -707px;
	margin-top: 24px;
}

#u1542
{
	z-index: 13;
	width: 1092px;
	height: 469px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
}

#u1544-14
{
	z-index: 57;
	width: 207px;
	min-height: 208px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 864px;
}

#u1543-8
{
	z-index: 171;
	width: 120px;
	min-height: 47px;
	background-color: transparent;
	color: #000000;
	font-size: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 156px;
	left: 735px;
}

#u1452-2,#u1223-2,#u1225-2,#u1227-2,#u1228-2,#u1343-2,#u1437-2,#u1543-2
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u1452-6,#u1225-6,#u1227-4,#u1228-4,#u1343-4,#u1543-6
{
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u1545
{
	z-index: 193;
	width: 120px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 723px;
}

#u1330::before,#u1434::before,#u1545::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 60px;
	box-shadow: none;
}

#u1449 .clip_frame,#u1151 .clip_frame,#u870 .clip_frame,#u867 .clip_frame,#u1330::before .clip_frame,#u1330 .clip_frame,#u1340::before .clip_frame,#u1340 .clip_frame,#u1434::before .clip_frame,#u1434 .clip_frame,#u1545::before .clip_frame,#u1545 .clip_frame
{
	-webkit-border-radius: 60px 60px 60px 60px;
}

#u1545_img
{
	margin-left: -4px;
	margin-bottom: -4px;
}

.html
{
	background: #FFFFFF url("../images/anita_walczak-referencje.jpg") no-repeat right top fixed;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

