<p>
  <div class="row m-t-30 p-l-20">
    <div style="width: 100px;">
      <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
        <img src="../images/deepak_simkhada.jpg" alt="Deepak Simkhada">
      </div>
    </div>

    <div class="size39">
      <span class="dis-block txt28 m-b-8">
        Deepak Simkhada
      </span>

      <span class="txt16">
        Higienista stomatologiczny, terapeuta dentystyczny. Studia ukończył w 2007 roku na University of Dundee, obecnie studiuje zaawansowane choroby przyzębia na University of Essex. Na co dzień mieszka i pracuje w Wielkiej Brytanii, gdzie zdobywa doświadczenie w szpitalach, klinikach prywatnych oraz państwowych. Specjalizuje się w niechirurgicznym leczeniu periodontitis oraz periimplantitis. Autor prestiżowego szkolenia Perio with Deepak, które prowadzi od wielu lat. Często pisze do czasopism stomatologicznych i udziela międzynarodowych wykładów nt. pacjentów perio. Niedawno został nominowany do grona finalistów Dental Hygienist of the Dental Awards 2017.
      </span>
    </div>
  </div>
</p>
