<p>
  <div class="row m-t-30 p-l-20">
    <div style="width: 100px;">
      <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
        <img src="../images/faye_donald.jpg" alt="Faye Donald">
      </div>
    </div>

    <div class="size39">
      <span class="dis-block txt28 m-b-8">
        Faye Donald
      </span>

      <span class="txt16">
        Faye jest higienistką stomatologiczną z ponad 20-letnim doświadczeniem, która mieszka i pracuje w Wielkiej Brytanii. Oprócz pracy w klinice, Faye jest certyfikowaną trenerką Swiss Dental Academy i podróżując przez cały kraj oraz Europę mówi o roli technologii EMS Air flow i Perio Flow oraz koncepcji GBT. Faye otrzymała tytuł Higienistki Stomatologicznej Roku 2014, a niedawno, w 2017 przyznano jej tytuł Najlepszej Brytyjskiej Higienistki podczas Krajowych Nagród Zdrowia Jamy Ustnej w Londynie.
      </span>
    </div>
  </div>
</p>
